
link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/css/styles.css")

div(class="form")
	iframe(id="inscripcion" , src="https://docs.google.com/forms/d/1alBlnOaGcbVij-w-mAA-FCU5OhwAde_VjAKlCJbZ8_Y/viewform?embedded=true" , scrolling="no") Cargando…
