extends ../layouts/layout
block content
	section(id="container_orientacion" , class="container-fluid template_content")
		div(class="row")
			h3 MAESTRÍA Y DOCTORADO EN EDUCACIÓN ORIENTACIÓN ACADÉMICA AL ESTUDIANTE

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody(class="table_body")
						tr(class="active")
							td(style="font-weight: bold; background-color: #C5C5C5;" , colspan="2") ARCHIVOS POR SEMESTRE
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") 2015-II
							td 
								div(class="table_ctn")
									ul
										li: a(href="") Doctorado en Educación (ingresantes - Ley Universitaria Nº 30220)
										li: a(href="") Doctorado en Educación (regulares - Ley Universitaria Nº 30220)
										li(style="margin-bottom: 20px;")
											a(href="") Doctorado en Educación (regulares - Ley Universitaria Nº 23733)
										li: a Maestría en Educación con mención en:
											ul
												li(type="circle")
													a(href="") Autoevaluación, Acreditación y Certificación (regulares- Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Docencia e Investigación Universitaria (ingresantes - Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Docencia e Investigación Universitaria (regulares - Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Docencia e Investigación Universitaria (regulares - Ley Universitaria Nº 23733)
												li(type="circle")
													a(href="") Gestión de la Calidad, Autoevaluación y Acreditación (regulares - Ley Universitaria Nº 23733)
												li(type="circle")
													a(href="") Gestión Educativa (regulares - Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Gestión Universitaria (regulares - Ley Unversitaria Nº 30220)
												li(type="circle")
													a(href="") Pedagogía de la Matemática (regulares - Ley Universitaria Nº 30220)
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") 2015-I
							td 
								div(class="table_ctn")
									ul
										li: a(href="") Doctorado en Educación (ingresantes - Ley Universitaria Nº 30220)
										li(style="margin-bottom: 20px;")
											a(href="") Doctorado en Educación (regulares - Ley Universitaria Nº 23733)
										li: a Maestría en Educación con mención en:
											ul
												li(type="circle")
													a(href="") Autoevaluación, Acreditación y Certificación (ingresantes - Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Docencia e Investigación Universitaria (ingresantes - Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Docencia e Investigación Universitaria (regulares - Ley Universitaria Nº 23733)
												li(type="circle")
													a(href="") Gestión de la Calidad, Autoevaluación y Acreditación (regulares - Ley Universitaria Nº 23733)
												li(type="circle")
													a(href="") Gestión Educativa (ingresantes - Ley Universitaria Nº 30220)
												li(type="circle")
													a(href="") Gestión Universitaria (ingresantes - Ley Unversitaria Nº 30220)
												li(type="circle")
													a(href="") Informática y Tecnología Educativa (regulares - Ley Universitaria Nº 23733)
