aside(class="hidden-xs hidden-sm")
	div(id="enlaces")
		div(class="content_link col-sm-12")
			div(class="cabecera")
				div
					span(class="glyphicon glyphicon-link")
				h3 Enlaces importantes

			h4 Maestrías y Doctorado en Educación
			a(href="{{ ruta_base }}posgrado/maestrias.html") - Maestrías en educación
			a(href="{{ ruta_base }}posgrado/doctorado.html") - Doctorado en educación
			a(href="{{ ruta_base }}pdfs/requisitos_de_admision_para_la_maestria_y_doctorado_en_educacion.pdf" , target="_blank") - Requisitos de admisión 2016-II
			a(href="{{ ruta_base }}pdfs/cronograma_de_admision_2016-II.pdf" , target="_blank") - Cronograma de admisión 2016-II
			a(href="{{ ruta_base }}publicaciones/comisiones_admision.html") - Comisión de admisión
			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank") - Inscripción al proceso de admisión 2016-II
			a(href="{{ ruta_base }}publicaciones/horarios.html") - Horarios de clase
			a(href="{{ ruta_base }}publicaciones/orientacion_academica.html") - Orientación académica al estudiante

			h4 Diplomados
			a(href="{{ ruta_base }}diplomados/educacion.html") - Diplomados en educación
			a(href="{{ ruta_base }}formularios/inscripcion_educacion_2016.html" , target="_blank") - Inscripción a Diplomados en Educación 2016-II
			a(href="{{ ruta_base }}diplomados/investigacion.html") - Diplomados en investigación
			a(href="{{ ruta_base }}formularios/inscripcion_investigacion_2016.html" , target="_blank") - Inscripción a Diplomados en Investigación 2016-II

			h4 Seminarios y Cursos – Taller
			a(href="{{ ruta_base }}seminarios/cursos_talleres.html") - Cursos – Taller
			a(href="{{ ruta_base }}formularios/inscripcion_seminario_2016.html" , target="_blank") - Inscripción a Seminarios y Cursos - Taller 2016-II

			h4 Procesos administrativos
			a(href="{{ ruta_base }}pdfs/guia_tramite.pdf" , target="_blank") - Guía de trámite documentario

			h4 Bolsa de trabajo
			a(href="http://icedusmp.trabajando.pe/" , target="_blank") - Portal de bolsa

	div(id="servicios")
		div(class="content_link col-md-12")
			div(class="cabecera")
				div
					span(class="glyphicon glyphicon-wrench")
				h3 Servicios
			a(href="http://campusvirtual.usmp.edu.pe/" , target="_blank") - Aula virtual
			a(href="http://www.sibus.usmp.edu.pe/" , target="_blank") - Biblioteca central
			a(href="{{ ruta_base }}construccion.html") - Intranet académica
			a(href="{{ ruta_base }}posgrado/maestrias//interiores/laboratorio.html") - Laboratorio
			a(href="{{ ruta_base }}formularios/reclamaciones.html" , target=":blank") - Quejas y reclamaciones
			a(href="{{ ruta_base }}formularios/sugerencias.html" , target=":blank") - Sugerencias
//
	div(id="infraestructura")
		div(class="content_link col-md-12")
			div(class="cabecera")
				div
					span(class="glyphicon glyphicon-home")
				h3 Infraestructura