//Menu Responsive
	
div(id="nav_small")
	nav(id="nav_mobile")
		a(href="{{ ruta_base }}")
			span(class="glyphicon glyphicon-home icon_menu")
			span INICIO
		//
				div(class="sub_menu")
					a(href="") El instituto
		div(class="divider")
		a(href="")
			span(class="glyphicon glyphicon-flag icon_menu")
			span ICED
		div(class="divider")
		a(href="")
			span(class="glyphicon glyphicon-education icon_menu")
			span POSGRADO
		div(class="divider")
		a(href="")
			span(class="glyphicon glyphicon-briefcase icon_menu")
			span DIPLOMADOS
		div(class="divider")
		a(href="{{ ruta_base }}seminarios/cursos_talleres.html")
			span(class="glyphicon glyphicon-edit icon_menu")
			span SEMINARIOS
		div(class="divider")
		a(href="")
			span(class="glyphicon glyphicon-bullhorn icon_menu")
			span PUBLICACIONES