/* Background Colors */

$bg_header: #70001A;
$bg_nav: #EDEEF0;
$bg_body: #F1F1F1;

/* Articulo Colors */

$color_link	: #519BDA;

/* Enlaces Colors */

$bglink_container: #B55858;
$color_sub_title: #8C0000;

/* Divider Colors */
$divider_color: rgba(24 , 26 , 38 , 0.1);