@charset "UTF-8";
/* ===========================================
   CSS Reset
   =========================================== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0 none;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* ===========================================
   Imports
   =========================================== */
/* General imports
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Background Colors */
/* Articulo Colors */
/* Enlaces Colors */
/* Divider Colors */
/*  Mixins
	------------------------------------ */
/* Includes imports
   ––––––––––––––––––––––––––––––––––––––––––– */
header {
  width: 100%;
  height: 60px;
  background-color: #70001A;
  position: fixed;
  z-index: 900;
}

header #container_header {
  width: 100%;
  height: 55px;
  margin-top: 5px;
  background-color: #EDEEF0;
  position: absolute;
  z-index: 500;
  box-shadow: 0px 6px 16px -2px #a19fa1;
}

header #container_header #container_logo {
  width: 257px;
  height: 55px;
  min-height: 55px;
  background-color: #EDEEF0;
}

header #container_header #container_logo a {
  width: 257px;
  height: 49px;
}

header #container_header #menu_small {
  width: 50px;
  height: 55px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #menu_small button {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #B7B7B7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #menu_small button ul {
  display: none;
}

header #container_header #menu_small button:hover {
  background-color: #CCCCCC;
  transition: 0.3s;
}

header #container_header #container_menu {
  width: auto;
  height: 60px;
}

header #container_header #container_menu nav {
  width: auto;
  height: 60px;
}

header #container_header #container_menu nav ul {
  width: auto;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #container_header #container_menu nav ul li {
  width: auto;
  height: 60px;
  background-color: #EDEEF0;
  display: block;
}

header #container_header #container_menu nav ul li a {
  width: auto;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  color: #6E6E70;
}

header #container_header #container_menu nav ul li a:hover {
  transition: 0.3s;
}

header #container_header #container_menu nav ul li i {
  margin-left: 5px;
}

header #container_header #container_menu nav ul li .divisor {
  margin: 0px;
  background-color: #DBD9D9;
}

header #container_header #container_menu nav ul li #sub_iced {
  width: 210px;
  height: 280px;
  position: absolute;
  top: 55px;
  border-radius: 0px 0px 5px 5px;
  background-color: #EDEEF0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  display: block;
}

header #container_header #container_menu nav ul li #sub_iced li {
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_iced li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #container_header #container_menu nav ul li #sub_iced li span {
  margin-right: 5px;
  color: #6E6E70;
}

header #container_header #container_menu nav ul li #sub_iced li a:hover {
  color: #519BDA;
  transition: 0.3s;
}

header #container_header #container_menu nav ul li #sub_iced #sub_investigaciones {
  width: 230px;
  height: 82px;
  position: absolute;
  background-color: #EDEEF0;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header #container_header #container_menu nav ul li #sub_iced #sub_investigaciones li {
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_iced #sub_investigaciones li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_iced #sub_egresados {
  width: 200px;
  height: 123px;
  position: absolute;
  background-color: #EDEEF0;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header #container_header #container_menu nav ul li #sub_iced #sub_egresados li {
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_iced #sub_egresados li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_pos {
  width: 210px;
  height: 81px;
  position: absolute;
  top: 55px;
  border-radius: 0px 0px 5px 5px;
  background-color: #EDEEF0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header #container_header #container_menu nav ul li #sub_pos li {
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_pos li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_pos li span {
  margin-right: 5px;
  color: #6E6E70;
}

header #container_header #container_menu nav ul li #sub_pos li a:hover {
  color: #519BDA;
  transition: 0.3s;
}

header #container_header #container_menu nav ul li #sub_diplomados {
  width: 210px;
  height: 81px;
  position: absolute;
  top: 55px;
  border-radius: 0px 0px 5px 5px;
  background-color: #EDEEF0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
}

header #container_header #container_menu nav ul li #sub_diplomados li {
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_diplomados li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_diplomados li span {
  margin-right: 5px;
  color: #6E6E70;
}

header #container_header #container_menu nav ul li #sub_diplomados li a:hover {
  color: #519BDA;
  transition: 0.3s;
}

header #container_header #container_menu nav ul li #sub_publicaciones {
  width: 210px;
  height: 81px;
  position: absolute;
  top: 55px;
  border-radius: 0px 0px 5px 5px;
  background-color: #EDEEF0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header #container_header #container_menu nav ul li #sub_publicaciones li {
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_publicaciones li a {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header #container_header #container_menu nav ul li #sub_publicaciones li span {
  margin-right: 5px;
  color: #6E6E70;
}

header #container_header #container_menu nav ul li #sub_publicaciones li a:hover {
  color: #519BDA;
  transition: 0.3s;
}

.espaciado {
  width: 100%;
  height: 5px;
  background-color: #70001A;
}

.top-to-bottom {
  border-width: 0.5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #A4A4A4, transparent) 1 100%;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
  #container_header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #container_logo {
    margin-right: 0px;
  }
  #container_logo img {
    width: 70%;
    margin-top: 10.35px;
  }
  #container_menu li {
    font-size: 0.8rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #container_header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #container_logo {
    margin-right: 30px;
  }
  #container_logo img {
    width: 257px;
    height: 49px;
    min-height: 49px;
    margin-top: 3px;
  }
  #container_menu li {
    font-size: 1rem;
  }
  #container_menu li a {
    padding: 0px 7px 0px 7px;
  }
  #container_menu #sub_iced li a {
    font-size: 1.1rem;
  }
  #container_menu #sub_iced #sub_investigaciones li a {
    font-size: 1.1rem;
  }
  #container_menu #sub_iced #sub_investigaciones li a {
    font-size: 1.1rem;
  }
  #container_menu #sub_pos li a {
    font-size: 1.1rem;
  }
  #container_menu #sub_diplomados li a {
    font-size: 1.1rem;
  }
  #container_menu #sub_publicaciones li a {
    font-size: 1.1rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #container_header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #container_logo {
    margin-right: 30px;
  }
  #container_logo img {
    width: 257px;
    height: 49px;
    min-height: 49px;
    margin-top: 3px;
  }
  #container_menu li {
    font-size: 1.15rem;
  }
  #container_menu li a {
    padding: 0px 15px 0px 15px;
  }
  #container_menu #sub_iced li a {
    font-size: 1.4rem;
  }
  #container_menu #sub_iced #sub_investigaciones li a {
    font-size: 1.4rem;
  }
  #container_menu #sub_iced #sub_egresados li a {
    font-size: 1.4rem;
  }
  #container_menu #sub_pos li a {
    font-size: 1.4rem;
  }
  #container_menu #sub_diplomados li a {
    font-size: 1.4rem;
  }
  #container_menu #sub_publicaciones li a {
    font-size: 1.4rem;
  }
}

#slider {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

#slider img {
  width: 100%;
}

aside {
  width: 100%;
  margin-top: 30px;
}

.content_link {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.content_link a {
  text-decoration: none;
}

.cabecera {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecera div {
  background-color: #862222;
  border-radius: 50%;
  margin-right: 10px;
}

.cabecera div span {
  width: 30px;
  height: 30px;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#prefooter {
  width: 100%;
  height: auto;
  min-height: 400px;
  margin-top: 30px;
  background-color: #D9DCE1;
  padding-top: 30px;
}

#prefooter .cabecera {
  margin-bottom: 20px;
}

#prefooter .content_link {
  width: 100%;
  border: 0px solid #B30F0F;
  border-radius: 0px;
}

#map {
  width: 100%;
  height: auto;
}

#map #container_map {
  height: 0;
  overflow: hidden;
  padding-top: 0;
  position: relative;
}

#map #container_map iframe {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  border: 0;
}

@media (max-width: 768px) {
  #container_map {
    padding-bottom: 42%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #container_map {
    padding-bottom: 42%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #container_map {
    padding-bottom: 80%;
  }
}

@media (min-width: 1201px) {
  #container_map {
    padding-bottom: 80%;
  }
}

footer #footer {
  height: 100px;
  background-color: #70001A;
  font-size: 1.35rem;
  color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
#nav_small {
  width: 100%;
  padding-top: 60px;
  background-color: #E5E5E5;
  display: none;
  position: fixed;
  z-index: 800;
}

#nav_small #nav_mobile {
  width: 100%;
  padding-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav_small #nav_mobile a {
  width: 100%;
  height: 20px;
  margin: 8px 0px 7px 0px;
  font-size: 1.2rem;
  padding-left: 10%;
  text-decoration: none;
}

#nav_small #nav_mobile a .icon_menu {
  margin-right: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(24, 26, 38, 0.1);
}

@media (min-width: 991px) {
  #nav_small {
    display: none !important;
  }
}

.form {
  width: 100%;
  height: auto;
}

.form iframe {
  width: 100%;
}

@media (max-width: 768px) {
  .form #inscripcion {
    height: 2300;
  }
  .form #reclamaciones {
    height: 1650;
  }
  .form #sugerencias {
    height: 1550;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .form #inscripcion {
    height: 2200;
  }
  .form #reclamaciones {
    height: 1350;
  }
  .form #sugerencias {
    height: 1300;
  }
}

@media (min-width: 993px) {
  .form #inscripcion {
    height: 2120;
  }
  .form #reclamaciones {
    height: 1350;
  }
  .form #sugerencias {
    height: 1300;
  }
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

/* Contents imports
   ––––––––––––––––––––––––––––––––––––––––––– */
section {
  width: 100%;
  margin-top: 30px;
}

section h2 {
  color: #519BDA;
}

section article {
  width: 100%;
  margin-bottom: 20px;
}

section article a:hover {
  color: #808080;
  transition: 0.5s;
}

section article .title {
  text-decoration: none;
  color: #519BDA;
}

section article .container_article {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

section article .container_article img {
  width: 170px;
  margin-right: 20px;
}

section article .container_article h4 {
  margin: 0px 0px 5px 0px;
}

section article .container_article p {
  text-align: justify;
}

section article .container_article .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

section article .container_article ol {
  margin-left: 30px;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: rgba(175, 175, 175, 0.9);
  margin: 15px 0px 15px 0px;
}

@media (max-width: 550px) {
  .container_article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_article .text {
    margin-top: 15px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 551px) {
  .container_article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  article .title {
    font-size: 2rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  article .title {
    font-size: 2.5rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
  h1 {
    font-size: 3.5rem;
  }
  article .title {
    font-size: 3rem;
  }
}

/* Instituto Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_instituto h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

#container_instituto p {
  text-align: justify;
}

#container_instituto .container_article div {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_instituto .container_article div img {
  width: 250px;
}

#container_instituto .container_article .text {
  width: 100%;
}

@media (max-width: 550px) {
  h3 {
    font-size: 1.6rem;
  }
  .container_article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container_article .text {
    margin-top: 15px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 552px) and (max-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
  h3 {
    font-size: 2.2rem;
  }
  .container_instituto div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Acreditaciones Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_acreditaciones h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

#container_acreditaciones img {
  margin: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_acreditaciones p {
  text-align: justify;
}

/* Organizacion Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_estructura h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

#container_estructura .enlace_container {
  width: 100%;
  height: auto;
  background-color: #B55858;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #DADADA;
  margin: 20px 0px 20px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container_estructura .enlace_container .enlace {
  width: 99%;
  height: 38px;
  background-color: #F1F1F1;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_estructura .enlace_container .enlace a {
  margin-left: 20px;
  text-decoration: none;
}

/* Organizacion / Direccion Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_direccion h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_direccion p {
  text-align: justify;
}

#container_direccion img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_direccion .autoridad {
  text-align: center;
  margin-bottom: 20px;
}

#container_direccion .autoridad b {
  font-size: 1.5rem;
}

#container_direccion .autoridad span {
  font-size: 1.3rem;
}

#container_direccion .contacto {
  text-align: center;
}

#container_direccion .contacto b {
  margin-right: 5px;
}

/* Organizacion / Cied Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_secposgrado h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_secposgrado p {
  text-align: justify;
}

/* Organizacion / Cied Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_cied h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_cied p {
  text-align: justify;
}

#container_cied ul {
  margin-left: 30px;
}

#container_cied img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_cied .autoridad {
  text-align: center;
  margin-bottom: 20px;
}

#container_cied .autoridad b {
  font-size: 1.5rem;
}

#container_cied .autoridad span {
  font-size: 1.3rem;
}

#container_cied .contacto {
  text-align: center;
  margin-bottom: 40px;
}

#container_cied .contacto b {
  margin-right: 5px;
}

/* Organizacion / Extension Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_extension h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_extension p {
  text-align: justify;
}

#container_extension ul {
  margin-left: 30px;
}

#container_extension ul a {
  text-decoration: none;
}

#container_extension img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_extension .autoridad {
  text-align: center;
  margin-bottom: 20px;
}

#container_extension .autoridad b {
  font-size: 1.5rem;
}

#container_extension .autoridad span {
  font-size: 1.3rem;
}

#container_extension .contacto {
  text-align: center;
}

#container_extension .contacto b {
  margin-right: 5px;
}

/* Organizacion / Registros Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_registros h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_registros p {
  text-align: justify;
}

#container_registros img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_registros .autoridad {
  text-align: center;
  margin-bottom: 20px;
}

#container_registros .autoridad b {
  font-size: 1.5rem;
}

#container_registros .autoridad span {
  font-size: 1.3rem;
}

#container_registros .contacto {
  text-align: center;
}

#container_registros .contacto b {
  margin-right: 5px;
}

/* Organizacion / Cursos y talleres / Educacion Sexual Styles
   ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#container_educacion h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_educacion p {
  text-align: justify;
}

#container_educacion img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_educacion ul {
  margin-left: 30px;
}

#container_educacion .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Investigaciones / Tesis Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_tesis h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_tesis img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_tesis p {
  text-align: justify;
}

#container_tesis .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

#container_tesis table tbody tr td {
  text-align: center;
}

#container_tesis table tbody tr td a {
  text-decoration: none;
}

/* Infraestructura Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_infraestructura h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_infraestructura img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_infraestructura .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

#container_infraestructura .tab-content {
  padding: 30px 0px 10px 10px;
}

#container_infraestructura .tab-content .content_img {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#container_infraestructura .tab-content .content_img img {
  margin: 8px;
}

/* Egresados / Graduados  Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_graduados h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_graduados img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_graduados p {
  text-align: justify;
}

#container_graduados ul {
  margin-left: 30px;
}

#container_graduados .enlace_container {
  width: 100%;
  height: auto;
  background-color: #B55858;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #DADADA;
  margin: 20px 0px 20px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container_graduados .enlace_container .enlace {
  width: 99%;
  height: 38px;
  background-color: #F1F1F1;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_graduados .enlace_container .enlace a {
  margin-left: 20px;
  text-decoration: none;
}

/* Egresados / Circulo Egresados  Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_egresados h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_egresados img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_egresados p {
  text-align: justify;
}

#container_egresados ul {
  margin-left: 30px;
}

#container_egresados .enlace_container {
  width: 100%;
  height: auto;
  background-color: #B55858;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #DADADA;
  margin: 20px 0px 20px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container_egresados .enlace_container .enlace {
  width: 99%;
  height: 38px;
  background-color: #F1F1F1;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_egresados .enlace_container .enlace a {
  margin-left: 20px;
  text-decoration: none;
}

/* Egresados / Egresados 2013 Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_egresados2013 h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_egresados2013 img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container_egresados2013 p {
  text-align: justify;
}

#container_egresados2013 ul {
  margin-left: 30px;
}

/* Egresados / Bolsa  Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_bolsa h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_bolsa p {
  text-align: justify;
}

#container_bolsa ol {
  margin-left: 30px;
}

#container_bolsa ol li a {
  text-decoration: none;
}

#container_bolsa .autoridad {
  text-align: center;
  margin-bottom: 20px;
}

#container_bolsa .autoridad b {
  font-size: 1.5rem;
}

#container_bolsa .autoridad span {
  font-size: 1.3rem;
}

#container_bolsa #lugar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 50px 0px;
}

/* Egresados / Normativa  Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_normatividad h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

#container_normatividad p {
  text-align: justify;
}

#container_normatividad ul {
  margin-left: 30px;
}

#container_normatividad .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

#container_normatividad a {
  text-decoration: none;
}

/* Posgrado Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
.template_content h3 {
  text-align: center;
  font-weight: bold;
  margin: 130px 20px 30px 20px;
}

.template_content .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

.template_content ol {
  margin-left: 30px;
}

.template_content ul {
  margin-left: 30px;
}

.template_content a {
  text-decoration: none;
}

.template_content p {
  text-align: justify;
}

.template_content img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Maestrias Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Maestrias/ Docencia Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_docencia h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 15px 20px;
}

#container_docencia h2 {
  text-align: center;
  margin: 0px 20px 0px 20px;
  font-size: 2.1rem;
}

#container_docencia .table_ctn {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_docencia td {
  text-align: center;
}

/* Maestrias/ GAA Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_gaa h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 15px 20px;
}

#container_gaa h2 {
  text-align: center;
  margin: 0px 20px 0px 20px;
  font-size: 2.1rem;
}

#container_gaa .table_ctn {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_gaa td {
  text-align: center;
}

/* Maestrias/ Pedagogia Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_pedagogia h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 50px 15px 50px;
}

#container_pedagogia h2 {
  text-align: center;
  margin: 0px 20px 30px 20px;
  font-size: 2.1rem;
}

#container_pedagogia .table_ctn {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_pedagogia td {
  text-align: center;
}

/* Doctorado Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_doctorado h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 5px 20px;
}

#container_doctorado h2 {
  text-align: center;
  margin: 0px 20px 0px 20px;
  font-size: 2.1rem;
}

#container_doctorado .table_ctn {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#container_doctorado td {
  text-align: center;
}

/* Posgrado / Maestrias / Interiores / Laboratorio Styles
   –––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#container_laboratorio h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

#container_laboratorio p {
  text-align: justify;
}

#container_laboratorio .container_article div img {
  width: 250px;
  margin-right: 20px;
}

#container_laboratorio .container_article .text {
  width: 100%;
}

@media (max-width: 550px) {
  h3 {
    font-size: 1.6rem;
  }
  .container_article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container_article .text {
    margin-top: 15px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 552px) and (max-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
  h3 {
    font-size: 2.2rem;
  }
}

/* Diplomados Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
.template_content h3 {
  text-align: center;
  font-weight: bold;
  margin: 0px 20px 30px 20px;
}

.template_content .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

.template_content ol {
  margin-left: 30px;
}

.template_content ul {
  margin-left: 30px;
}

.template_content a {
  text-decoration: none;
}

.template_content p {
  text-align: justify;
}

.template_content img {
  margin: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.template_content td {
  text-align: center;
}

.enlace_container {
  width: 100%;
  height: auto;
  background-color: #B55858;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #DADADA;
  margin: 20px 0px 20px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.enlace_container .enlace {
  width: 99%;
  height: 38px;
  background-color: #F1F1F1;
  border-radius: 8px 0px 0px 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.enlace_container .enlace a {
  margin-left: 20px;
  text-decoration: none;
}

.lista {
  text-align: left;
}

.lista li {
  margin-bottom: 10px;
}

.fechas {
  width: 20%;
}

/* Diplomados / Investigacion Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
/* Seminarios Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_cursos td {
  text-align: left;
}

/* Boletines Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_boletin h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

#container_boletin p {
  margin: 20px 0px 20px 0px;
}

#container_boletin #boletines h5 {
  color: firebrick;
  font-weight: bold;
}

#container_boletin #boletines span {
  margin: 0px 10px 0px 8px;
}

#container_boletin #boletines a {
  text-decoration: none;
}

#container_boletin #boletines li {
  list-style: none;
}

#container_boletin #img_boletin {
  width: 50%;
  margin-top: 70px;
}

#container_noticias {
  width: 100%;
  margin-top: 30px;
}

#container_noticias h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  color: #3960A7;
}

#container_noticias .efecto-espejo {
  -webkit-box-reflect: below -18px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
}

#container_noticias article {
  width: 100%;
  margin-bottom: 20px;
}

#container_noticias article a:hover {
  color: #808080;
  transition: 0.5s;
}

#container_noticias article .title {
  text-decoration: none;
  color: #519BDA;
}

#container_noticias article .container_article {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

#container_noticias article .container_article img {
  width: 170px;
  margin-right: 20px;
}

#container_noticias article .container_article h4 {
  margin: 0px 0px 5px 0px;
}

#container_noticias article .container_article p {
  text-align: justify;
}

#container_noticias article .container_article .sub_title {
  color: #8C0000;
  font-weight: bold;
  font-size: 1.5rem;
}

#container_noticias article .container_article ol {
  margin-left: 30px;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: rgba(175, 175, 175, 0.9);
  margin: 15px 0px 15px 0px;
}

@media (max-width: 550px) {
  .container_article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_article .text {
    margin-top: 15px;
  }
  #img_noticias {
    display: none;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 551px) {
  .container_article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #img_noticias {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  article .title {
    font-size: 2rem;
  }
  #img_noticias {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    margin-bottom: 30px;
  }
  article .title {
    font-size: 2.5rem;
  }
  #img_noticias {
    display: block;
    width: 7%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
  h1 {
    font-size: 3.5rem;
  }
  h3 {
    margin-bottom: 30px;
  }
  article .title {
    font-size: 3rem;
  }
  #img_noticias {
    display: block;
    width: 7%;
  }
}

/* Orientación Académica Styles
   ––––––––––––––––––––––––––––––––––––––––––– */
#container_orientacion li {
  text-align: left;
}

#container_orientacion td {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ===========================================
   General Style
   =========================================== */
body {
  background-color: #F1F1F1;
}

#main_container {
  width: 100%;
}

#main_content {
  padding-top: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenido {
  width: 100%;
  padding-top: 50px;
  position: relative;
  z-index: 700;
}

.table_ctn {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

td {
  text-align: center;
}
