doctype html
html(lang="es" , ng-app="icedusmp")
	head(ng-controller="route")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport" , content="width=device-width, initial-scale=1")
		meta(name="description" , content="Instituto para la calidad de la educacion")
		meta(name="keywords" , content="iced, iced usmp , instituto para la caldidad")
		meta(name="author" , content="ICED")
		link(rel="shortcut icon" ,  href="http://www.usmp.edu.pe/iced/assets/img/logo_usmp.ico")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/normalize.min.css")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/bootstrap.min.css")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/css/styles.css")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/remodal.css")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/remodal-default-theme.css")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/slicknav.min.css")
		link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/slidebars.css")
		//link(rel="stylesheet" , href="http://www.usmp.edu.pe/iced/assets/lib/css/component.css")
		title ICED

	body(ng-controller="route")

		div(id="main_container")
			
			block header
				include ../includes/header

			include ../includes/menu_responsive
			
			div(id="main_content" , class="container")

				block slider

				div(id="contenido")
					div(class="col-md-8")

						block content

					div(class="col-md-4")

						include ../includes/aside
			
			include ../includes/prefooter

			block footer
				include ../includes/footer

		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/jquery.min.js")
		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/bootstrap.min.js")
		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/angular.min.js")
		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/remodal.min.js")
		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/slicknav.min.js")
		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/slidebars.js")
		script(src="http://www.usmp.edu.pe/iced/assets/lib/js/responsive-nav.min.js")
		//script(src="http://www.usmp.edu.pe/iced/assets/lib/js/classie.js")
		//script(src="http://www.usmp.edu.pe/iced/assets/lib/js/modalEffects.js")
		script(src="http://www.usmp.edu.pe/iced/assets/js/main.js")
		script(src="http://www.usmp.edu.pe/iced/assets/js/main_angular.js")
