extends ../layouts/layout

block content
	section(class="col-md-12")
		div(class="row")
			article
				a(class="title") Seminario Internacional: Formación de Especialistas en Autoevaluación y Acreditación Universitaria

				div(class="container_article")

					div(class="text")
						p(class="sub_title") Objetivo
						p Capacitar a los docentes, estudiantes y egresados del Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, para ejecutar y asumir metodologías de autoevaluación y acreditación universitaria propuestas por la ACSUG entidad con quien nuestra institución tiene un convenio vigente.

						<br>

						p(class="sub_title") Lugar y Duración
						p
							<b>Inicio : </b> 20 de setiembre de 2016 <br>
							<b>Término : </b> 24 de setiembre de 2016 <br>
							<b>Lugar : </b> Local de la ACSUG -. Santiago de Compostela - España

						<br>

						p(class="sub_title") Metas
						p El seminario internacional cubre 10 vacantes como mínimo y 15 como máximo, únicamente entre profesores, estudiantes y egresados del ICED.

						<br>

						p(class="sub_title") Requisitos
						ol(type="a")
							li Llenado de Ficha de Inscripción.
							li Carta dirigida al Director del ICED solicitando ser incluido en el curso y manifestando su plena autorización para iniciar los trámites a la ACSUG – España, bajo su entera responsabilidad (solicitar formato en secretaría de la OEPU-ICED).
							li Tener pasaporte vigente y visado correspondiente.
							li Estar dispuesto a financiar sus pasajes de ida y vuelta a España, incluyendo el pago de hospedaje y alimentación por el tiempo que dure el curso (5 días), cuya cantidad asciende a S/.10,170.00.

						<br>

						p(class="sub_title") Certificación Internacional
						p Los participantes que hayan cumplido con las exigencias del seminario internacional, recibirá una CERTIFICADO DE PARTICIPACIÓN expedido por la Axencia para a Calidad do Sistema Universitario de Galicia – ACSUG de ESPAÑA.