extends ../layouts/layout
block content
	section(id="container_graduados" , class="container-fluid")
		div(class="row")
			h3 ASOCIACIÓN DE GRADUADOS DEL INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN
			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/graduados.jpg", alt="")

			p La Asociación de Graduados de Postgrado del Instituto para la Calidad de la Educación (ICED) es una iniciativa de los graduados de nuestro Instituto, ante la necesidad de establecer vínculos académicos y profesionales permanentes, en la búsqueda compartida de la mejora continua relacionada con la calidad y la excelencia educativa.

			<br>

			p La Asociación de Graduados del ICED es una organización académica sin fines de lucro que tiene como misión contribuir al desarrollo y perfeccionamiento académico y profesional de sus miembros, compartiendo conocimientos, experiencias y fomentando la participación activa y responsable con la Universidad y la sociedad.

			<br>

			p La Asociación del Graduados del ICED fue formalmente instalada el día sábado 08 de junio de 2013, mediante una ceremonia en la que se realizó la elección democrática de la Junta Directiva, en la que fueron elegidos como flamantes miembros los siguientes graduados:

			ul(class="row")
				li Presidenta: Dra. Marina Román Rivas
				li Vicepresidenta: Dra. Estela Zapata Carty
				li Secretaria: Ma. Nilda Salvador Esquivel
				li Tesorero: Mo. Manuel Aurelio Pastor Mendoza
				li Vocales:
				ul(type="circle" , style="margin: 10px 0px 10px 30px;")
					li Mo. Jhon Ponce Pardo
					li Ma. Mónica Díaz Reátegui

			p La juramentación de los miembros de la Junta Directiva estuvo a cargo del Dr. Vicente Santiváñez Limas, Jefe de la Oficina de Extensión y Proyección Universitaria del ICED.

		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/ficha_de_graduados.docx" , download="ficha_de_graduados") Inscripción a la Asociación de Graduados