extends ../layouts/layout
block content
	section(id="container_laboratorio" , class="col-md-12")
		div(class="row")
			h3 RESERVA DE LABORATORIO
			div(class="container_article")
					div
						img(src="{{ ruta_base }}assets/img/laboratorio.jpg", alt="")
					div(class="text")
						p El Instituto para la Calidad de la Educación ofrece a sus alumnos la posibilidad de reservar un laboratorio en día de semana para desarrollar sus trabajos y/o proyectos de las carreras de Maestría y Doctorado que dicta.
						p Para realizar su reserva, sírvase comunicarse al siguiente número telefónico:
						p <b>Oficina de registros académicos:</b> 478-1751, 362-0064, 317-2130.
						p <b>Anexo:</b> 3161. Preguntar por la señora Nilda Rao.
				<br>