extends ../layouts/layout
block content
	section(id="container_instituto" , class="col-md-12")
		div(class="row")
			h3 INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN DE LA UNIVERSIDAD DE SAN MARTÍN DE PORRES
			div(class="container_article")
					div(class="col-sm-12")
						img(src="{{ ruta_base }}assets/img/img_iced/iced.png", alt="" , class="img-responsive")

					//div(class="text")
						h4 Invitación abierta a todos los grupos de interés
						p El Instituto para la Calidad de la Educación invita a todos los directivos, administrativos, docentes, estudiantes, egresados, graduados y representantes de la sociedad civil a la reunión de socialización a realizarse el día sábado 05 de diciembre de 2015, en el que se expondrásn los resultados del desarrollo del plan de mejoras durante el año 2015.
				<br>

			article
				div
					h4 Misión de la Universidad de San Martín de Porres
					p “Nos dedicamos a la formación de profesionales competitivos con sólidos valores humanísticos, éticos y morales. Contribuimos a la promoción, desarrollo y difusión de la ciencia, la tecnología y la cultura. Proyectamos nuestra acción a la comunidad, propiciando la construcción de una sociedad moderna, justa y equitativa”.
					<br>
					h4 Misión del Instituto de la Calidad de la Educación
					p “Calificar profesionales competentes, con sólido valores humanísticos éticos y cívicos. Contribuir a la creación de conocimientos a través de la investigación y promover la difusión de la ciencia, la tecnología y la cultura. Proyectar nuestra acción a la comunidad, propiciando la construcción de una sociedad moderna y equitativa”.
					<br>
					h4 Visión del Instituto de la Calidad de la Educación
					p “Alcanzar la excelencia académica al más alto nivel en la calificación profesional a través de las maestrías y doctorado en Educación; reafirmando la imagen de alta credibilidad institucional y liderazgo, para el mejoramiento continuo de la calidad académica, alto sentido de la responsabilidad y sensibilidad social y su compromiso con la sociedad peruana”.
					<br>
					h4 Cultura Institucional
					ul(class="col-xs-offset-1")
						li Respeto a la persona.
						li Búsqueda de la verdad.
						li Integridad (honestidad, equidad, justicia, solidaridad y vocación de servicio).
						li Búsqueda de la excelencia.
						li Liderazgo (académico, tecnológico y otros).
						li Actitud innovadora y emprendedora.
						li Conservación ambiental.
						li Trabajo en equipo.
						li Comunicación efectiva
						li Compromiso con el desarrollo del país.
				<br>

				div(class="descargas")
						span(class="glyphicon glyphicon-paperclip" , style="margin-right: 8px;")
						a(href="{{ ruta_base }}pdfs/iced/plan_estrategico_2013-2017.pdf" , target="_blank" , style="text-decoration: none;") Plan estratégico 2013-2017
				<br>
				div(class="descargas")
						span(class="glyphicon glyphicon-paperclip" , style="margin-right: 8px;")
						a(href="{{ ruta_base }}pdfs/iced/politicas_y_objetivos_de_calidad.pdf" , target="_blank" , style="text-decoration: none;") Políticas y objetivos de calidad
				<br>