extends ../layouts/layout
block content
	section(id="container_ambiente" , class="container-fluid template_content")
		div(class="row")
			h3 DIPLOMADO DE ESPECIALIZACIÓN DE POSTGRADO EN EDUCACIÓN DEL MEDIO AMBIENTE PARA LA SOSTENIBILIDAD
			div(class="col-xs-12")
				div(id="construccion")
					img(src="{{ ruta_base }}assets/img/en_construccion.png", alt="En Construccion" , class="img-responsive" style="margin-top: 50px;")
		//
			p La problemática ambiental ha adquirido una importancia que requiere ser abordada desde diversas facetas. Hace ya bastantes años, en la década de los 70, las Naciones Unidas a través de diversos programas, viene recomendando la implantación de políticas y propuestas para abordar esta problemática. Una de estas propuestas es la de hacer una labor educativa en cuestiones ambientales (conferencia de Estocolmo de 1972).

			p Con el objetivo de formar docentes con un conocimiento ambientalista y de desarrollo sostenible, capaces de reconocer y proponer soluciones a la actual crisis ambiental, se propone este diplomado que permita una adecuada capacitación de los profesionales educativos.

			p El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, promueve el desarrollo de la educación y, de la especialización en temas de actualidad e investigación acorde al Art. 13 de la Ley Universitaria N°23733 vigente. En este contexto se propone  la realización del diplomado de especialización de postgrado: Educación y Medio Ambiente,  destinado a capacitar a los docentes y profesionales interesados en el tema como agentes de difusión y de promotores del cuidado del medio ambiente.

			<br>

			p(class="sub_title") Objetivo
			ul
				li Formar docentes que incrementen la percepción, comprensión y preocupación por el medio ambiente y su problemática.
				li Brindar los conocimientos básicos de la Educación ambiental y desarrollo sostenible. a fin de quesean capaces de evaluar la problemática ambiental y puedan adoptar medidas adecuadas al respecto.

			<br>

			p(class="sub_title") Competencias
			ul
				li Analiza y reconoce los conceptos básicos del medio ambiente.
				li Conocer, evaluar y proponer soluciones a las diversas problemáticas ambientales.
				li Formula proyectos de Educación Ambiental, a partir del ecosistema del espacio inmediato.
				li Explica las diferentes formas de contaminación ambiental y sus repercusiones en la biósfera terrestre.
				li Propone alternativas para mejorar el medio ambiente mediante la educación ambiental y capacitación, explicando además la influencia de la ONU, sus organismos y el ministerio del Ambiente en el Perú.

			<br>
			
			p(class="sub_title") Contenido curricular
			
			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULO
							td(style="font-weight: bold; background-color: #E1E0E0;") CONTENIDO CURRICULAR
						tr(class="active")
							td I
							td Marco conceptual de la Educación Ambiental y desarrollo sostenible: Recorrido histórico, conceptos básicos, educación formal y no formal
						tr(class="active")
							td II
							td La problemática Ambiental: Estudio de problemas; superpoblación, contaminación, efecto invernadero sobreexplotación de recursos.
						tr(class="active")
							td III
							td Proyectos de Educación Ambiental. Experiencias de aprendizaje, estudios de casos, herramientas de elaboración de proyectos, evaluación de proyectos.
						tr(class="active")
							td IV
							td La educación ambiental. El rol de la ONU y del Ministerio del Ambiente en el Perú.

			<br>

			p(class="sub_title") Certificación
			p El Instituto para la Calidad de la Educación  de la Universidad de San Martín de Porres, expedirá el <b>DIPLOMA DE ESPECIALIZACIÓN DE POSTGRADO EN EDUCACIÓN DEL MEDIO AMBIENTE PARA LA SOSTENIBILIDAD</b> a nombre de la Universidad de San Martín de Porres a  los participantes que hayan cumplido con la exposición y entrega de los informes asignados.
			
			<br>
			
			p(class="sub_title") Lugar
			ul
				li Para informes e inscripciones, los interesados deberán acercarse a las oficinas del Instituto para la Calidad de la Educación, sito en Jr. Las Calandrias 151-291. Ciudad Universitaria de la Universisad de San Martín de Porres - Santa Anita.
				li El diplomado se realizará en el local de la Universidad de San Martín de Porres, sito en Av. Brasil 1857. Jesús María.
			
			<br>

			p(class="sub_title") Fecha de inicio, horario y duración
			p El Diplomado está programado para inicio el 16 de agosto de 2015, en caso se confirme el mínimo de 20 inscripciones. Caso contrario, será aplazado a razón de una semana. Se dictará los días domingo, en el horario de 09:00 am a 04:00 pm y tendrá una duración de 16 semanas.
			
			<br>

			p(class="sub_title") Requisitos documentarios
			ul
				li Copia simple de Grado Académico de Bachiller y/o Título Profesional Universitario.
				li Copia simple de DNI.
				li Currículum vitae descriptivo.
	//
		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/diplomados/educacion/diplomado_medio_ambiente.docx" , download="Diplomado Medio Ambiente") Inscripción al Diplomado

