extends ../layouts/layout
block content
	section(id="container_egresados2013" , class="container-fluid")
		div(class="row")
			h3 CÍRCULO DE EGRESADOS DEL INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN
			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/egresados_2013.jpg", alt="")

			p El Círculo de Egresados del Instituto para la Calidad de la Educación (ICED) es una iniciativa de los egresados de nuestro Instituto, ante la necesidad de establecer vínculos académicos y profesionales permanentes, en la búsqueda compartida de la mejora continua relacionada con la calidad y la excelencia educativa.
			
			<br>

			p El Círculo de Egresados del ICED es una organización académica sin fines de lucro que tiene como misión contribuir al desarrollo y perfeccionamiento académico y profesional de sus miembros, compartiendo conocimientos, experiencias y fomentando la participación activa y responsable con la Universidad y la sociedad.
			
			<br>

			p El Círculo de Egresados del ICED fue formalmente instalado el día sábado 01 de junio de 2013, mediante una ceremonia en la que se realizó la elección democrática de la Junta Directiva, en la que fueron elegidos como flamantes miembros los siguientes graduados:

			ul(class="row")
				li Presidenta: Ma. Sara Remuzgo Huamán
				li Vicepresidente: Bach. Yoel Pomalaza Puga
				li Secretaria: Ma. Lida Esperanza García Vega
				li Tesorero: Mo. Gustavo Munive Matos
				li Vocales:
				ul(type="circle" , style="margin: 10px 0px 10px 30px;")
					li Bach. Rogger Hurtado Flores
					li Mo. Alejandro Sánchez Vásquez
					li Bach. Sandro Martín Vigo Ramos


			p La juramentación de los miembros de la Junta Directiva estuvo a cargo del Dr. Víctor Raúl Díaz Chávez, Coordinador de la Sección de Postgrado del ICED.