extends ../layouts/layout
block content
	section(id="container_bolsa" , class="container-fluid")
		div(class="row")
			h3 BOLSA DE TRABAJO DEL INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN
			p Estimados:

			<br>

			p Me dirijo a usted para presentarle el saludo de los profesores y personal administrativo del Instituto para la Calidad de la Educación e informarle que la Oficina de Extensión y Proyección Universitaria tiene a su cargo el programa de Bolsa de Trabajo a través del cual los egresados graduados y estudiantes de nuestra institución tienen la oportunidad de beneficiarse laboralmente.
			
			<br>

			p Para el efecto, nuestro Instituto está enlazada con la Bolsa de Trabajo de la Universidad de San Martín de Porres encargada de encontrar un espacio laboral para usted, considerando claro está las exigencias laborales requeridas, para cuyo  fin se recomienda seguir los siguientes pasos:
			
			<br>

			ol(type="a")
				li Ingresar al vinculo: 
					a(href="http://icedusmp.trabajando.pe/" , target="_blank") icedusmp.trabajando.pe/
				li Luego ubicar el botón <strong>INGRESA TU CV,</strong> donde usted generará un usuario y una contraseña para que pueda postular a las diversas ofertas.
				li En la nueva ventana del ICED encontrará una información detallada de los requerimientos laborales. Elija la oferta laboral de su interés y a partir de ese momento seguir los pasos solicitados.
			
			<br>

			p Con la seguridad del éxito que usted conseguirá en el proceso de selección, me suscribo como su atento y seguro servidor.

			div(id="lugar")
				p Santa Anita, 16 de abril de 2016
			
			div(class="row autoridad")
				b Dr. Florentino Mayurí Molina
				<br>
				span DIRECTOR DEL ICED

