extends ../layouts/layout
block content
	section(id="container_gaa" , class="container-fluid template_content")
		div(class="row")
			h3 MAESTRÍA EN EDUCACIÓN CON MENCIÓN EN GESTIÓN DE LA CALIDAD, AUTOEVALUACIÓN Y ACREDITACIÓN

			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")
			p Las exigencias hacia la mejora continua de la calidad educativa exigen a las instituciones mejorar sus procesos y evidenciar sus avances para la obtención de acreditaciones nacionales e internacionales que aseguren un nivel acorde a los estándares de calidad de las entidades acreditadoras. Por este motivo, se hace necesaria la formación de especialistas que actúen como evaluadores para la acreditación de todos los niveles del sistema educativo nacional: universitario, superior no universitario y básico; así como gestores de programas de calidad.

			p Ante la situación descrita, el Instituto para la Calidad de la Educación ofrece la Maestría en Educación con mención en Gestión de la Calidad, Autoevaluación y Acreditación a todos los profesionales interesados en asumir y superar este importante reto.
			
			<br>

			p(class="sub_title") Perfil del ingresante a la maestría:

			ul
				li Haber obtenido el grado académico de Bachiller.
				li Poseer un adecuado nivel de cultura general.
				li Conocer los principales problemas de la educación universitaria nacional, argumentando de manera crítica y planteando alternativas de mejora.
				li Haber obtenido una vacante en el proceso de admisión al programa.

			<br>

			p(class="sub_title") Perfil del graduado
			p Las competencias que caracterizan al egresado de la Maestría con mención en Gestión de la Calidad, Autoevaluación y Acreditación son las siguientes:
			ul
				li Participa en la gestión de la institución educativa, de nivel básico y superior, logrando un adecuado cumplimiento de los objetivos establecidos.
				li Dirige y participa en la elaboración del Plan Estratégico de la Institución.
				li Diseña y aplica procedimientos e instrumentos de evaluación que sean adecuados para medir el logro de los objetivos institucionales, así como obtener los resultados establecidos en acreditación, licenciamiento y gestión de la calidad.
				li Participa de manera eficaz en procesos de gestión de la calidad que permiten la mejora continua de los procesos de la institución educativa.
				li Participa de manera eficaz en el diseño y evaluación curricular de las instituciones educativas en sus diferentes modalidades y niveles.
				li Utiliza sistemas informáticos que le permiten obtener la información necesaria para la acreditación, el licenciamiento y la gestión de la calidad educativa, de manera eficaz.
				li Diseña, ejecuta y gestiona proyectos para participar en los procesos de evaluación externa para la acreditación y la gestión de la calidad educativa.
				li Diseña y ejecuta proyectos de investigación e innovación dirigidos al perfeccionamiento de la gestión educativa.
			
			<br>

			p(class="sub_title") Régimen de estudios
			p La Maestría cumplirá con un total de 48 créditos, en dos semestres académicos.
			
			<br>
			
			div(class="table-responsive")
				table(class="table table-responsive table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;") CR
						tr(class="active")
							td(rowspan="4") I
							td Gestión estratégica
							td 6
						tr(class="active")
							td Diseño de Procedimientos e Instrumentos para la Autoevaluación y la Acreditación
							td 6
						tr(class="active")
							td Diseño y Evaluación del Currículo Universitario
							td 6
						tr(class="active")
							td Metodología de la Investigación
							td 6

						tr(class="active")
							td(rowspan="4") II
							td Sistemas de Información Aplicados a la Evaluación y la Gestión de la Calidad Educativa
							td 6
						tr(class="active")
							td Proyecto de Evaluación
							td 6
						tr(class="active")
							td Seminario de Investigación
							td 6
						tr(class="active")
							td Norma ISO
							td 6
						tr(class="active")
							td(colspan="2") <b>TOTAL</b>
							td <b>48</b>

			<br>

			p(class="sub_title") Grado académico
			p Para obtener el grado de Maestro se requiere:
			ul
				li Haber obtenido el grado de Bachiller.
				li La elaboración de una tesis u trabajo de investigación en la especialidad respectiva.
				li Haber aprobado los estudios de una duración mínima de dos semestres académicos con un contenido mínimo de 48 créditos.
				li Dominio de un idioma extranjero o lengua nativa.


