extends ../layouts/layout
block content
	section(id="container_estres" , class="container-fluid template_content")
		div(class="row")
			h3 DIPLOMADO DE ESPECIALIZACIÓN DE POSTGRADO EN MANEJO Y GESTIÓN DEL ESTRÉS LABORAL EN INSTITUCIONES EDUCATIVAS
			div(class="col-xs-12")
				div(id="construccion")
					img(src="{{ ruta_base }}assets/img/en_construccion.png", alt="En Construccion" , class="img-responsive" style="margin-top: 50px;")
		//
			p El presente diplomado está dirigido a profesionales en educación, psicología, sociología, y público en general que desee manejar y gestionar el estrés laboral dentro de una institución educativa.

			<br>

			p(class="sub_title") Objetivo
			p El presente diplomado permitirá que los participantes sean capaces de identificar, personal y colectivamente, el estrés laboral a fin de manejarlo y gestionarlo a través técnicas y estrategias que posibiliten afrontarlo eficazmente, ejercitando la inteligencia emocional en los diferentes entornos laborales,dada las consecuencias que conlleva en la salud física y socioemocional de los trabajadores.
			p Se brindarán las herramientas necesarias para desarrollar habilidades personales y sociales relacionadas al manejo y gestión del estrés laboral, que permitan orientar a los trabajadores, con el fin de optimizar el desempeño laboral.

			<br>

			p(class="sub_title") Competencias
			ul
				li Identifica el estrés, en situaciones laborales, para afrontarlo, en  base a determinadas técnicas y estrategias.
				li Demuestra habilidades personales y sociales respecto al estrés, en entornos laborales, para mejorar el desempeño laboral, siguiendo criterios relacionados al manejo y gestión del estrés.
				li Valora la importancia de la salud emocional, en ambientes laborales, para mejorar el ejercicio laboral, siguiendo pautas relacionadas a la práctica de la inteligencia emocional.
				li Ejercita actividades físicas y lúdicas, en contextos laborales, para manejar el estrés, en base a ejercicios referidos a la gimnasia laboral.

			<br>

			p(class="sub_title") Contenido curricular

			<br>

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULO
							td(style="font-weight: bold; background-color: #E1E0E0;") CONTENIDO CURRICULAR
						tr(class="active")
							td I
							td Hábitos a ejercitar contra el estrés.
						tr(class="active")
							td II
							td Fisiopatología del estrés.
						tr(class="active")
							td III
							td Técnicas de afrontamiento del estrés laboral.
						tr(class="active")
							td IV
							td Actividades y estrategias fisicas para el manejo del estrés laboral.

			<br>

			p(class="sub_title") Certificación
			p El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, expedirá el CERTIFICADO DE ESPECIALIZACIÓN DE POSTGRADO EN MANEJO Y GESTIÓN DEL ESTRÉS LABORAL EN INSTITUCIONES EDUCATIVAS, con un total de 300 horas pedagógicas, a nombre de la Universidad de San Martín de Porres a los participantes que hayan cumplido con la exposición y entrega de los informes asignados.

			<br>

			p(class="sub_title") Lugar
			ul
				li Para informes e inscripciones, los interesados deberán acercarse a las oficinas del Instituto para la Calidad de la Educación, sito en Jr. Las Calandrias 151-291. Ciudad Universitaria de la Universisad de San Martín de Porres - Santa Anita.
				li El diplomado se realizará en el local de la Universidad de San Martín de Porres, sito en Av. Brasil 1857. Jesús María.

			<br>

			p(class="sub_title") Fecha de inicio, horario y duración
			p El Diplomado está programado para inicio el 16 de agosto de 2015, en caso se confirme el mínimo de 20 inscripciones. Caso contrario, será aplazado a razón de una semana. Se dictará los días domingo, en el horario de 09:00 am a 04:00 pm y tendrá una duración de 16 semanas.

			<br>

			p(class="sub_title") Requisitos documentarios
			ul
				li Copia simple de Grado Académico de Bachiller y/o Título Profesional Universitario.
				li Copia simple de DNI.
				li Currículum vitae descriptivo.
	//
		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/diplomados/educacion/diplomado_estres.docx" , download="Diplomado Estres Laboral") Inscripción al Diplomado



