extends ../layouts/layout
block content
	section(id="container_tesis" , class="container-fluid")
		div(class="row")
			h3 TESIS DE MAESTRÍA Y DOCTORADO
			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/book.png", alt="")
		div(class="row")
			p A continuación, podrá consultar los títulos de las tesis de Maestría y Doctorado en Educación sustentadas hasta la fecha.

			<br>

			p(class="sub_title") Tesis de Maestría

			table(class="table table-bordered")
				tbody
					tr(class="active")
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2016.pdf" , download="tesis_maestria_2016") Año 2016
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2015.pdf" , download="tesis_maestria_2015") Año 2015
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2014.pdf" , download="tesis_maestria_2014") Año 2014
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2013.pdf" , download="tesis_maestria_2013") Año 2013
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2012.pdf" , download="tesis_maestria_2012") Año 2012

					tr(class="active")
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2011.pdf" , download="tesis_maestria_2011") Año 2011
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2010.pdf" , download="tesis_maestria_2010") Año 2010
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2009.pdf" , download="tesis_maestria_2009") Año 2009
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2008.pdf" , download="tesis_maestria_2008") Año 2008
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2007.pdf" , download="tesis_maestria_2007") Año 2007

					tr(class="active")
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2006.pdf" , download="tesis_maestria_2006") Año 2006
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2005.pdf" , download="tesis_maestria_2005") Año 2005
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2004.pdf" , download="tesis_maestria_2004") Año 2004
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2003.pdf" , download="tesis_maestria_2003") Año 2003
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2002.pdf" , download="tesis_maestria_2002") Año 2002

					tr(class="active")
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2001.pdf" , download="tesis_maestria_2001") Año 2001
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_maestria/tesis_maestria_2000.pdf" , download="tesis_maestria_2000") Año 2000

			<br>
					
			p(class="sub_title") Tesis de Doctorado

			table(class="table table-bordered")
				tbody
					tr(class="active")
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2016.pdf" , download="tesis_doctorado_2016") Año 2016
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2015.pdf" , download="tesis_doctorado_2015") Año 2015
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2014.pdf" , download="tesis_doctorado_2014") Año 2014
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2013.pdf" , download="tesis_doctorado_2013") Año 2013
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2012.pdf" , download="tesis_doctorado_2012") Año 2012

					tr(class="active")
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2011.pdf" , download="tesis_doctorado_2011") Año 2011
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2010.pdf" , download="tesis_doctorado_2010") Año 2010
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2009.pdf" , download="tesis_doctorado_2009") Año 2009
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2008.pdf" , download="tesis_doctorado_2008") Año 2008
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2007.pdf" , download="tesis_doctorado_2007") Año 2007

					tr(class="active")
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2006.pdf" , download="tesis_doctorado_2006") Año 2006
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2005.pdf" , download="tesis_doctorado_2005") Año 2005
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2004.pdf" , download="tesis_doctorado_2004") Año 2004
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2003.pdf" , download="tesis_doctorado_2003") Año 2003
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2002.pdf" , download="tesis_doctorado_2002") Año 2002

					tr(class="active")
						td
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2001.pdf" , download="tesis_doctorado_2001") Año 2001
						td 
							span(class="glyphicon glyphicon-save" , style="margin-right: 5px;")
							a(href="{{ ruta_base }}pdfs/iced/tesis_doctorado/tesis_doctorado_2000.pdf" , download="tesis_doctorado_2000") Año 2000

			<br>
			
			div(class="descargas")
				span(class="glyphicon glyphicon-paperclip" , style="margin-right: 8px;")
				a(href="{{ ruta_base }}pdfs/iced/investigaciones_clasificadas_por_lineas_de_investigacion_doctorado.pdf" , target="_blank" , style="text-decoration: none;") Resumen por líneas de investigación - Doctorado

			<br>

			div(class="descargas")
				span(class="glyphicon glyphicon-paperclip" , style="margin-right: 8px;")
				a(href="{{ ruta_base }}pdfs/iced/investigaciones_clasificadas_por_lineas_de_investigacion_maestria.pdf" , target="_blank" , style="text-decoration: none;") Resumen por líneas de investigación - Maestrías

			<br>
			a(href="http://www.repositorioacademico.usmp.edu.pe/handle/usmp/3" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/tesis_publicadas.jpg", alt="")