extends ../layouts/layout
block content
	section(id="container_secposgrado" , class="container-fluid")
		div(class="row")
			h3 SECCIÓN DE POSTGRADO
			p La Oficina de Postgrado del Instituto para la Calidad de la Educación, realiza los estudios conducentes a la obtención de los grados académicos de Maestro y Doctor. Los estudios de Maestría y Doctorado en la Universidad de San Martín de Porres están orientados a la formación de investigadores calificados para ejecutar tareas o proyectos científicos, tecnológicos, humanísticos e interdisciplinarios, tendientes a resolver problemas concretos de la especialidad, de docentes universitarios y de especialistas de alta calificación académica profesional.