extends ../layouts/layout
block content
	section(id="container_gaa" , class="container-fluid template_content")
		div(class="row")
			h3 MAESTRÍA EN EDUCACIÓN CON MENCIÓN EN GESTIÓN DE LA CALIDAD, AUTOEVALUACIÓN Y ACREDITACIÓN
			h2 Modalidad Presencial
			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")
			p La aceditación de los programas e instituciones es un proceso imperativo, provocado por la masificación de la educación y su inclusión para los sectores menos privilegiados. Las exigencias hacia la mejora continua de la calidad educativa exigen a las instituciones mejorar sus procesos y evidenciar sus avances para la obtención de acreditaciones nacionales e internacionales que aseguren un nivel acorde a los estándares de calidad de las entidades acreditadoras. Por este motivo, se hace necesaria la formación de especialistas que actúen como evaluadores para la acreditación de todos los niveles del sistema educativo nacional:universitario, superior no universitario y básico; así como gestores de programas de calidad.

			p Ante la situación descrita, el Instituto para la Calidad de la Educación ofrece la Maestría en Educación con mención en Gestión de la Calidad, Autoevaluación y Acreditación a todos los profesionales interesados en asumir y superar este importante reto.
			
			<br>

			p(class="sub_title") Perfil del ingresante

			p(style="font-weight: bold; font-size: 1.4rem;") Comprensión y pensamiento complejo
			ul
				li Interpreta textos lingüísticos y no lingüísticos, aplicando códigos de interpretación.
				li Demuestra actitud abierta y flexible frente a diversas situaciones problemáticas de su ámbito social y profesional.
				li Posee conocimiento que le permita aprehender las relaciones mutuas y las influencias recíprocas entre las partes y el todo en un mundo complejo.

			p(style="font-weight: bold; font-size: 1.4rem;") Juicio crítico para resolver problemas
			ul
				li Analiza e interpreta hechos y/o situaciones argumentando  las causas y consecuencias de las mismas.
				li Demuestra actitud científica en la solución de problemas propios de su quehacer laboral.
				li Aplica diversas alternativas para solucionar problemas sociales, culturales, científicos y tecnológicos, relacionados a su entorno social y laboral.
				li Asume la necesidad de actualizarse disciplinariamente para estar capacitado en afrontar riesgos permanentes de error.

			p(style="font-weight: bold; font-size: 1.4rem;") Emplea  las TIC
			ul
				li Reconoce la importancia de las TIC y las aplica para optimizar sus actividades académicas y de investigación.

			p(style="font-weight: bold; font-size: 1.4rem;") Identidad y compromiso
			ul
				li Asume una actitud positiva de protección del ambiente, economía e interculturalidad de su realidad.
			
			<br>

			p(class="sub_title") Perfil del egresado
			ul
				li Administra la institución educativa, de nivel básico y superior, logrando un adecuado cumplimiento de los objetivos establecidos.
				li Dirige y participa en la elaboración del Plan Estratégico de la Institución.
				li Diseña y aplica estrategias de administración de personal que contribuya a lograr un óptimo desempeño de los colaboradores, así como una alta motivación y compromiso con la institución.
				li Diseña y aplica estrategias de administración financiera, que contribuyan a lograr la máxima eficiencia en la utilización de los recursos.
				li Diseña y aplica estrategias de Marketing Educativo que permita la captación de alumnos con el perfil establecido para el público objetivo de la institución.
				li Diseña y aplica procedimientos e instrumentos de evaluación que sean adecuados para medir el logro de los objetivos institucionales y obtener la acreditación que pudiera establecerse en cada caso.
				li Aplica adecuadamente la legislación educativa y participa en el diseño y evaluación de proyectos de normas, tendentes a mejorar el desarrollo y la gestión de la educación a nivel nacional e institucional.
				li Diseña y ejecuta proyectos de investigación – incluida la Tesis de Maestría – dirigidos al perfeccionamiento de la administración educativa.
			
			<br>

			p(class="sub_title") Régimen de estudios
			p Las clases se dictan los días sábado, dentro del horario de 08:00 am a 08:45 pm. La Maestría cumplirá con un total de 48 créditos, en dos semestres académicos.
			
			<br>
			
			div(class="table-responsive")
				table(class="table table-responsive table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CRÉDITOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , colspan="3") HORAS SEMANALES
						tr(class="active")
							td HL
							td HP
							td TH
						tr(class="active")
							td(rowspan="4") I
							td Gestión Estratégica
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Procedimientos e Instrumentos para la Autoevaluación y la Certificación
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Diseño y Evaluación del Currículo Universitario
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Metodología de la Investigación
							td 6
							td 4
							td 4
							td 8

			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CRÉDITOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , colspan="3") HORAS SEMANALES
						tr(class="active")
							td HL
							td HP
							td TH
						tr(class="active")
							td(rowspan="4") II
							td 	Sistemas de Información Aplicados a la Evaluación y la Gestión de la Calidad
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Proyectos de Evaluación externa
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Normativa ISO
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Seminario de Investigación
							td 6
							td 4
							td 4
							td 8

			<br>

			p(class="sub_title") Grado académico
			p El egresado que cumpla con la sustentación y aprobación de la tesis, así como los trámites administrativos correspondientes, recibirá el Grado Académico de Maestro en Educación con mención en Gestión de la Calidad, Autoevaluación y Acreditación. El Grado Académico mencionado se entregará en idioma español.
			
			<br>

			p(class="sub_title") Plazas de ingreso
			p En cada semestre académico se ofertan un máximo de 50 plazas de ingreso.


