extends ../layouts/layout
block content
	section(id="container_registros" , class="container-fluid")
		div(class="row")
			h3 OFICINA DE REGISTROS ACADÉMICOS
			p La Oficina de Registros Académicos es un órgano de apoyo administrativo responsable de centralizar, custodiar y administrar el acervo documentarlo académico del Instituto para la Calidad de la Educación, a fin de atender los requerimientos documentarios de sus alumnos y egresados referentes a su trayectoria académica.

			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/ana_villogas.jpg", alt="")
		div(class="row autoridad")
			b Dra. ANA MARÍA VILLOGAS ZEGARRA
			<br>
			span Coordinadora de la Oficina de Registros Académicos

		div(class="row contacto")
			b Teléfono:
			span 478-1751, 362-0064 (anexo 3160)
			
		div(class="row contacto")
			b Correo electrónico:
			a(href="mailto:avillogasv@usmp.pe") avillogasv@usmp.pe