extends ../layouts/layout
block content
	section(id="container_ebr" , class="container-fluid template_content")
		div(class="row")
			h3 DIPLOMADO DE ESPECIALIZACIÓN DE POSTGRADO EN PROCESOS DE AUTOEVALUACIÓN Y ACREDITACIÓN DE LA CALIDAD EN  INSTITUCIONES EDUCATIVAS DE EBR Y CETPRO
			div(class="col-xs-12")
				div(id="construccion")
					img(src="{{ ruta_base }}assets/img/en_construccion.png", alt="En Construccion" , class="img-responsive" style="margin-top: 50px;")
		//
			p Conocedores de la ley y reglamento del SINEACE donde se establece la obligatoriedad de la acreditación de la calidad para las instituciones educativas, el Instituto para la Calidad de la Educación entidad acreditada internacionalmente ofrece el Diplomado de Especialización de Post grado en Procesos de Autoevaluación y Acreditación de la Calidad en Instituciones Educativas de Educación Básica Regular y Centro de Educación Técnico Productivo, con el fin de formar docentes en las metodologías, técnicas, herramientas e instrumentos de los modelos para la  autoevaluación con fines acreditación de la calidad educativa.

			<br>

			p(class="sub_title") Objetivo
			p Ofrecer a los docentes profesionales de diversas áreas oportunidades de especialización en aspectos teóricos y prácticos la gestión de instituciones educativas de EBR y CETPRO.

			<br>
			
			p(class="sub_title") Competencias
			ul
				li Analiza los marcos normativos de la acreditación y la realidad educativa en el contexto nacional e internacional.
				li Planifica los procesos de acreditación institucional y de mejora continua. Diseña y aplica instrumentos de evaluación para los procesos de autoevaluación y evaluación externa.
				li Analiza y aplica la matriz de autoevaluación para la acreditación de la calidad de la gestión educativa de instituciones educativas.
				li Ejecuta la evaluación externa en instituciones educativas.
			
			<br>

			p(class="sub_title") Contenido curricular

			<br>

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULO
							td(style="font-weight: bold; background-color: #E1E0E0;") CONTENIDO CURRICULAR
						tr(class="active")
							td I
							td Marcos normativos de la Acreditación.
						tr(class="active")
							td II
							td Planificación de Procesos para la Acreditación y Mejora Continua.
						tr(class="active")
							td III
							td Herramientas de Calidad e Instrumentos de Evaluación.
						tr(class="active")
							td IV
							td Aplicación del Modelo IPEBA.
						tr(class="active")
							td V
							td Evaluación Externa.

			<br>

			p(class="sub_title") Certificación
			p El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, expedirá el DIPLOMA DE ESPECIALIZACIÓN DE POSTGRADO EN PROCESOS DE AUTOEVALUACIÓN Y ACREDITACIÓN DE LA CALIDAD EN INSTITUCIONES EDUCATIVAS DE EBR Y CETPRO a nombre de la Universidad de San Martín de Porres a los participantes que hayan cumplido con la exposición y entrega de los informes asignados.

			<br>

			p(class="sub_title") Lugar
			ul
				li Para informes e inscripciones, los interesados deberán acercarse a las oficinas del Instituto para la Calidad de la Educación, sito en Jr. Las Calandrias 151-291. Ciudad Universitaria de la Universisad de San Martín de Porres - Santa Anita.
				li El diplomado se realizará en el local de la Universidad de San Martín de Porres, sito en Av. Brasil 1857. Jesús María.

			<br>
			
			p(class="sub_title") Fecha de inicio, horario y duración
			p El Diplomado está programado para inicio el 16 de agosto de 2015, en caso se confirme el mínimo de 20 inscripciones. Caso contrario, será aplazado a razón de una semana. Se dictará los días domingo, en el horario de 09:00 am a 04:00 pm y tendrá una duración de 16 semanas.

			<br>

			p(class="sub_title") Requisitos documentarios
			ul
				li Copia simple de Grado Académico de Bachiller y/o Título Profesional Universitario.
				li Copia simple de DNI.
				li Currículum vitae descriptivo.
	//
		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/diplomados/educacion/diplomado_ebr_cetpro.docx" , download="Diplomado EBR CETPRO") Inscripción al Diplomado


