extends ../layouts/layout
block content
	section(id="container_educacion" , class="container-fluid")
		div(class="row")
			H3 FORO
			h3 EDUCACIÓN SEXUAL Y PREVENCIÓN DEL EMBARAZO ADOLESCENTE
			a(href="")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")
			p Uno de los problemas más sensibles que atraviesan las niñas, pubescentes y adolescentes en el Perú es la violencia sexual, fenómeno que en la actualidad viene incrementándose de manera alarmante. Y  a pesar que la justicia peruana ha planteado penas más severas para quienes cometen actos de violación en  perjuicio de la mujer-niña, pubescente o adolescente, la mayoría de estos casos son producidos al interior de sus  propios hogares, cuyos violadores son los mismos padres, hermanos y/o familiares más cercanos, quienes aprovechando la situación de vulnerabilidad y desamparo en que viven las niñas, pubescentes y/o adolescente destruyen la vida de éstas y consecuentemente de sus hogares. Frente a esta dolorosa realidad y con el ánimo de formular propuestas de prevención, protección y orientación,  el Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres en coordinación con la Municipalidad  del distrito de Santa Anita, han considerado pertinente realizar el FORO: EDUCACIÓN SEXUAL Y PREVENCIÓN DEL EMBARAZO ADOLESCENTE, con la certeza de que a través de la educación será posible encontrar las mejores alternativas que frenen el constante atropello y la humillación que viven nuestras niñas, pubescentes y adolescentes peruanas.

			<br>

			p(class="sub_title") Objetivo general
			p Sensibilizar a las madres, padres de familia y demás miembros de la sociedad adulta sobre la necesidad de proteger a las niñas, pubescentes y adolescentes de todo acto e  intención de abuso sexual, cualquiera que sea su modalidad.
			
			<br>

			p(class="sub_title") Objetivos específicos
			ul(class="row")
				li Explicar y demostrar con ejemplos en qué consiste la sexualidad en el ser humano y, a partir de ello asumir conscientemente una vida sexual.
				li Reconocer su identidad sexual y demostrar la mejor manera de llevarla como parte de su vida cotidiana.
				li Establecer las causas y las consecuencias del embarazo adolescente e identificar las medidas preventivas para evitarlo.
				li El rol de los medios de comunicación en la sexualidad adolescente.
				li Los derechos de la mujer y la legislación vigente frente al embarazo adolescente.
			
			<br>
			
			p(class="sub_title") Contenido curricular
			ul(class="row")
				li Educación sexual.
				li Identidad sexual.
				li Pautas para prevenir el embarazo adolescente.
				li Consecuencias del embarazo adolescente.
				li Influencia de los medios de comunicación en la sexualidad del adolescente.
				li Aspectos legales de la sexualidad del adolescente.
			
			<br>
			
			p(class="sub_title") Ambito
			p Podrán acceder a este evento los adolescentes de las IE de Santa Anita, docentes de todos los niveles que laboran en el ámbito distrital,  madres y padres de familia, incluyendo a los representantes de organizaciones comunales, vaso de leche y otras personas interesadas.
			
			<br>
			
			p(class="sub_title") Ponentes
			p(style="font-weight: bold;") Profesionales especialistas de la Asociación de Graduados del ICED-USMP.
			p - Obstetra Mirtha Rimachi Malaver
			p - Obstetra Delia Hernández  Cabezudo
			p - Obstetra Martha Salazar Campos
			
			<br>
			
			p(style="font-weight: bold;") Docentes universitarios de las Facultades de Derecho y Obstetricia y Enfermería de la USMP:
			p - Psicólogo Jesús Marquina Luján.
			p - Abogado Pedro Mejía Salas.
			
			<br>
			
			p(style="font-weight: bold;") Personal de la Demuna
			
			<br>
			
			p(class="sub_title") Fecha, hora y duración
			p Día: Viernes 25 de Setiembre de 2015.
			p Hora: 08:00 am a 02:00 pm
			p Duración: 08 horas pedagógicas.
			
			<br>
			
			p(class="sub_title") Lugar
			p Auditorio de la Municipalidad de San Anita.Auditorio de la Municipalidad de San Anita.
			
			<br>
			
			p(class="sub_title") Requisitos para partición
			p El foro es gratuito y el requisito para participar es llenar  la Ficha de Inscripción.
			
			<br>
			
			p(class="sub_title") Certificación
			p Se otorgará un CERTIFICADO DE ASISTENCIA Y DE  PARTICIPACIÓN a nombre del Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres y de la Municipalidad de San Anita.

			a(href="")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")