extends ../layouts/layout
block content
	section(id="container_doctorado" , class="container-fluid template_content")
		div(class="row")
			h3 DOCTORADO EN EDUCACIÓN
			h2 Modalidad Presencial
			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")

			p El Instituto para la Calidad de la Educación ofrece el presente programa a los profesionales interesados en obtener el Grado Académico de Doctor en Educación.
			
			<br>

			p(class="sub_title") Objetivos Formativos
			p Los objetivos formativos están relacionados, con la formación humana, social y profesional durante la formación de los maestros y doctores.

			p(class="sub_title") Formación humana:
			span Promover el trabajo cooperativo en equipo y multidisciplinario.
			<br>
			span Desarrollar compromiso ético.
			<br>
			span Desarrollar habilidades comunicacionales.
			<br>
			span Propiciar una actitud propositiva.

			p(class="sub_title" , style="margin-top: 10px;") Formación social:
			span Desarrollar una actitud crítica frente a los problemas de la educación.
			<br>
			span Reconocer la diversidad y la multiculturalidad en la población.
			<br>
			span Proponer soluciones a problemas de la educación y el contexto.
			<br>
			span Innovar y emprender proyectos para la comunidad.

			p(class="sub_title" , style="margin-top: 10px;") Formación profesional:
			span Desarrollar capacidades investigativas.
			<br>
			span Desarrollar habilidades de gestión.
			<br>
			span Promover la especialización en educación.
			<br>
			span Desarrollar el pensamiento complejo.
			<br>
			span Promover el uso de herramientas informáticas.

			p(class="sub_title" , style="margin-top: 30px;") Perfil del Ingresante

			p(style="font-weight: bold; font-size: 1.4rem;") Identidad y compromiso
			ul
				li Asume una actitud positiva de protección  del ambiente, economía e interculturalidad de su realidad.

			p(style="font-weight: bold; font-size: 1.4rem;") Comprensión y pensamiento complejo
			ul
				li Interpreta textos lingüísticos y no lingüístico, aplicando los códigos de interpretación.
				li Demuestra actitud abierta y flexible frente a diversas situaciones  problemáticas  de su ámbito social y profesional.
				li Posee conocimiento que le permita aprehender las relaciones mutuas  y las influencias recíprocas  entre las partes y el todo en un mundo complejo.
				li Analiza e interpreta hechos y/o situaciones argumentando  las causas y consecuencias de las mismas.

			p(style="font-weight: bold; font-size: 1.4rem;") Resolución de problemas y capacidad  investigativa
			ul
				li Demuestra actitud científica en la solución de problemas propios de su quehacer laboral.
				li Aplica diversas alternativas para solucionar problemas sociales. Culturales, científicos y tecnológicos, relacionado a su entorno social y laboral.

			p(style="font-weight: bold; font-size: 1.4rem;") Manejo de herramientas para la información y comunicación
			ul
				li Reconoce la importancia de las TIC y las aplica para optimizar sus actividades académicas y de investigación.
			
			<br>

			p(class="sub_title") Perfil del Ingresante
			ul
				li Realiza investigaciones de alto nivel en las diferentes áreas de las Ciencias de la Educación.
				li Diseña, implementa, gestiona y evalúa políticas dirigidas al desarrollo de la educación a nivel nacional, regional y local.
				li Gestiona instituciones y programas educativos de niveles de diferentes niveles y modalidades de manera creativa, eficaz y eficiente.
				li Analiza la problemática educativa de diferentes aspectos (pedagógicos, de gestión, institucionales), ámbitos, niveles y modalidades, desde una perspectiva multidisciplinaria, aportando soluciones creativas, eficaces y eficientes a la misma.
			
			<br>

			p(class="sub_title") Régimen de estudios
			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr
							td(style="font-weight: bold; background-color: #C5C5C5;" , colspan="3") PLAN DE ESTUDIOS ACTUAL
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;") CRÉDITOS
						tr(class="active")
							td I
							td 
								div(class="table_ctn")
									span - Epistemología y Educación
									span - Economía y Educación
									span - Seminario de Tesis I
							td
								div(class="table_ctn")
									span 3
									span 3
									span 6
						tr(class="active")
							td II
							td 
								div(class="table_ctn")
									span - Diseño y Evaluación Curricular
									span - Educación y Sociedad
									span - Seminario de Tesis II
							td 
								div(class="table_ctn")
									span 3
									span 3
									span 6
						tr(class="active")
							td III
							td
								div(class="table_ctn")
									span - Gestión Educativa y Acreditación
									span - Didáctica Contemporánea
									span - Seminario de Tesis III
							td 
								div(class="table_ctn")
									span 3
									span 3
									span 6
						tr(class="active")
							td IV
							td 
								div(class="table_ctn")
									span - Sistemas Educativos Comparados
									span - Evaluación Educativa
									span - Seminario de Tesis  IV
							td 
								div(class="table_ctn")
									span 3
									span 3
									span 6
						tr(class="active")
							td V
							td 
								div(class="table_ctn")
									span - Taller de Tesis I
									span - Diseño, Aplicación y Evaluación de Políticas Educativas
							td 
								div(class="table_ctn")
									span 6
									span 3
						tr(class="active")
							td VI
							td 
								div(class="table_ctn")
									span - Taller de Tesis II
							td 
								div(class="table_ctn")
									span 7
						tr(class="active")
							td(style="font-weight: bold; background-color: #C5C5C5;" , colspan="2") TOTAL DE CRÉDITOS
							td(style="font-weight: bold; background-color: #C5C5C5;") 64
			<br>


			p(class="sub_title") Grado académico
			p El egresado que cumpla con la sustentación y aprobación de la tesis, así como los trámites administrativos correspondientes, recibirá el Grado Académico de Doctor en Educación. El Grado Académico mencionado se entregará en idioma español.

			<br>

			p(class="sub_title") Plazas de ingreso
			p En cada semestre académico se ofertan un máximo de 50 plazas de ingreso.

