extends ../layouts/layout
block content
	section(id="container_ingles" , class="container-fluid template_content")
		div(class="row")
			h3 DIPLOMADO DE ESPECIALIZACIÓN DE POSTGRADO EN METODOLOGÍA DE LA ENSEÑANZA DEL INGLÉS

			p(class="sub_title") I. DENOMINACIÓN

			P Diplomado de Posgrado en Metodología de la Enseñanza del Inglés.

			<br>

			p(class="sub_title") II. FUNDAMENTACIÓN

			p En el actual sistema educativo peruano el Diseño Curricular Básico de Educación Inicial, Primaria, Secundaria y Superior incluye la asignatura del idioma Inglés. Esta realidad implica la necesidad de actualizar y/o capacitar a los docentes que desarrollan dicha asignatura, así como a los profesionales que también desean enseñar el Ingles, identificando y manejando innovadas metodologías y recursos didácticos orientados a optimizar el aprendizaje vivencial de los educandos de todos los niveles y modalidades.

			P El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, consciente de esta necesidad, asume el reto de realizar el Diplomado de Especialización de Postgrado Metodología de la Enseñanza del Ingles, ofrecido a todos los profesores de carrera y demás profesionales nacionales y extranjeros, que dominando el Inglés, desean incursionar en su enseñanza.

			<br>

			p(class="sub_title") III. OBJETIVO

			P Describir y aplicar innovadas metodologías para enseñar y aprender el idioma Inglés, a nivel de los educandos de los diversos niveles de educación inicial, básica y superior, reconociendo la particularidad, naturaleza, condiciones y requisitos de los mismos.

			<br>

			p(class="sub_title") IV. COMPETENCIAS

			ul
				li Identifica y valora el fundamento gramatical, contenidos curriculares y requisitos que exige el manejo de una metodología innovada para enseñar y aprender inglés, y luego aplica dicha metodología a nivel de los niños de Educación Inicial.
				li Identifica y valora el fundamento gramatical, contenidos curriculares y requisitos que exige el manejo de una metodología innovada para enseñar y aprender inglés, y luego aplica dicha metodología a nivel de los educandos de Educación Primaria.
				li Identifica y valora el fundamento gramatical, contenidos curriculares y requisitos que exige el manejo de una metodología innovada para enseñar y aprender inglés, y luego aplica dicha metodología a nivel de los educandos de Educación Secundaria.
				li Identifica y valora el fundamento gramatical, contenidos curriculares y requisitos que exige el manejo de una metodología innovada para enseñar y aprender inglés, y luego aplica dicha metodología a nivel de los educandos de Educación Superior.

			<br>

			p(class="sub_title") V. ESTRATEGIA DE DESARROLLO

			ul
				li <b>De la Programación</b>
					p La programación del diplomado es responsabilidad de la Oficina de Extensión y Proyección Universitaria del Instituto para la Calidad de la Educación.

				li <b>De la Supervisión</b>
					p La supervisión estará a cargo del Director del Instituto para la Calidad de la Educación.

			<br>

			p(class="sub_title") VI. CONTENIDO CURRICULAR

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULOS
							td(style="font-weight: bold; background-color: #E1E0E0;") CONTENIDOS CURRICULARES
							td(style="font-weight: bold; background-color: #E1E0E0;") CRÉDITOS
							td(style="font-weight: bold; background-color: #E1E0E0;") HRS.PRESENC
							td(style="font-weight: bold; background-color: #E1E0E0;") HRS. NO PRESENC.
							td(style="font-weight: bold; background-color: #E1E0E0;") TOTAL DE HORAS
						tr(class="active")
							td
								span I
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Inicial
							td
								ul(class="lista")
									li Fundamento gramatical.
									li Contenido curricular
									li Estrategias didácticas
									li Material didáctico.
									li Evaluación del aprendizaje.
							td 6
							td 40
							td 120
							td 160
						tr(class="active")
							td 
								span II
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Primaria
							td
								ul(class="lista")
									li Fundamento gramatical.
									li Contenido curricular
									li Estrategias didácticas
									li Material didáctico.
									li Evaluación del aprendizaje.
							td 6
							td 40
							td 120
							td 160
						tr(class="active")
							td 
								span III
								<br>	
								span Enseñanza- aprendizaje del Inglés en Educación Secundaria
							td
								ul(class="lista")
									li Fundamento gramatical.
									li Contenido curricular
									li Estrategias didácticas
									li Material didáctico.
									li Evaluación del aprendizaje.
							td 6
							td 40
							td 120
							td 160
						tr(class="active")
							td 
								span IV 
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Superior
							td
								ul(class="lista")
									li Fundamento gramatical.
									li Contenido curricular
									li Estrategias didácticas
									li Material didáctico.
									li Evaluación del aprendizaje.
							td 6
							td 40
							td 120
							td 160
						tr(class="active")
							td(style="font-weight: bold; background-color: #C5C5C5;" , colspan="2") TOTAL GENERAL
							td(style="font-weight: bold; background-color: #C5C5C5;") 24
							td(style="font-weight: bold; background-color: #C5C5C5;") 160
							td(style="font-weight: bold; background-color: #C5C5C5;") 480
							td(style="font-weight: bold; background-color: #C5C5C5;") 640

			<br>

			p(class="sub_title") VII. ESTRATEGIAS DIDÁCTICAS

			p Considerando que él diplomado es de carácter teórico y práctico, su desarrollo será a través de las estrategias didácticas siguientes:

			ul
				li <b>En la etapa presencial</b>
					p La metodología que se aplicará para desarrollar el diplomado, será proactiva, a través de ejemplificaciones, ensayos, redacciones, composiciones, prácticas de elaboración de recursos didácticos, construcción de instrumentos de evaluación, demostraciones y exposiciones individuales y grupales.

				li <b>En la etapa no presencial</b>
					p El participante contará con tutoría virtual permanente a cargo de cada docente de los módulos, tendrá acceso a la biblioteca de la universidad y a los recursos informáticos virtuales.

			<br>

			p(class="sub_title") VIII. REQUISITOS

			ul
				li Copia de Grado o Título Profesional de procedencia. (opcional)
				li Fotocopia del DNI
				li Dominio elemental del idioma Inglés
				li Llenado de ficha de inscripción

			<br>

			p(class="sub_title") IX. ÁMBITO Y COBERTURA

			p El ámbito es nacional y podrán acceder todos los profesionales con o sin formación pedagógica que tienen un dominio elemental del idioma inglés y que actualmente ejercen y/o desean ejercer la docencia del inglés.

			<br>

			p(class="sub_title") X. DURACIÓN, CRÉDITOS Y HORARIO

			p 640 horas

			ul
				li 40 horas lectivas presenciales por módulo.
				li 480 horas no presenciales para la elaboración de los trabajos de investigación por módulo.
				li 24 Créditos (6 x 4 módulos = 24 créditos)

			div
				<b>INICIO: </b>
				span domingo 05 de junio de 2016
			div
				<b>TÉRMINO: </b>
				span domingo 18 de setiembre de 2016
			div
				<b>HORARIO: </b> 
				span domingos 9:00 am. a 4:00 pm.

			<br>

			p(class="sub_title") XI. LUGAR

			p El diplomado se realizará en el local de la Av. Brasil N° 1857 - Jesús María.

			<br>

			p(class="sub_title") XII. INVERSIÓN

			ul
				li Matrícula : S/. 40.00
				li Mensualidad : S/. 300.00 c/mes ( 4 cuotas)

			<br>

			p(class="sub_title") XIII. INFORMACIÓN

			p Los participantes podrán solicitar información en la secretaría de la Oficina de Extensión y Proyección Universitaria del Instituto para la Calidad de la Educación, en el horario de lunes a viernes en el horario de 8.00 am a 10.00 pm. Teléfonos: 4781751, 3620064. Anexos: 3159, 3161, 3163, 3164, 3202. e-mail: informes@icedusmp.edu.pe

			<br>

			p(class="sub_title") XIV. CERTIFICACIÓN

			p El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, expedirá el <b>DIPLOMADO DE POSGRADO: ENSEÑANZA DEL INGLÉS</b> a nombre de la Universidad de San Martín de Porres a los participantes que hayan cumplido con la exposición y entrega de los informes asignados.
			<br>

			p(class="sub_title") XV. CRONOGRAMA

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULOS
							td(style="font-weight: bold; background-color: #E1E0E0;") MESES
							td(style="font-weight: bold; background-color: #E1E0E0;") FECHAS
							td(style="font-weight: bold; background-color: #E1E0E0;") DOCENTES
						tr(class="active")
							td
								span I
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Inicial
							td Junio
							td(class="fechas")
									li 05-06-2016
									li 12-06-2016
									li 19-06-2016
									li 26-06-2016
							td Mag. Silva Alvarado Mújica
						tr(class="active")
							td 
								span II
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Primaria
							td Julio
							td(class="fechas")
									li 03-07-2016
									li 10-07-2016
									li 17-07-2016
									li 24-07-2016
							td Mag. Carmen Calero Moscol
						tr(class="active")
							td
								span III
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Secundaria
							td Agosto
							td(class="fechas")
									li 31-07-2016
									li 07-08-2016
									li 14-08-2016
									li 21-08-2016
							td Dra. Georgina Alvarado Acuña
						tr(class="active")
							td
								span IV
								<br>
								span Enseñanza- aprendizaje del Inglés en Educación Superior
							td Setiembre
							td(class="fechas")
									li 28-08-2016
									li 04-09-2016
									li 11-09-2016
									li 18-09-2016
							td Dra. Georgina Alvarado Acuña
			<br>
		
	//
		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/diplomados/educacion/diplomado_ingles.docx" , download="Diplomado Ingles") Inscripción al Diplomado
