extends ../layouts/layout
block content
	section(id="container_docencia" , class="container-fluid template_content")
		div(class="row")
			h3 MAESTRÍA EN EDUCACIÓN CON MENCIÓN EN DOCENCIA E INVESTIGACIÓN UNIVERSITARIA

			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")
			p El programa de Maestría en Educación con mención en Docencia e Investigación Universitaria, se presenta adecuado a las exigencias de la nueva ley universitaria, y responden a los objetivos del sistema educativo nacional en sus diferentes niveles y modalidades.
			p La estructura de este programa, en su conjunto, se caracteriza por su extraordinaria flexibilidad debido que se encuentra coherentemente integrada dentro de la concepción curricular integral, sin perder de vista los niveles de exigencia académica y científica, incorporando de manera secuencial y progresiva el estudio y aplicación del método de investigación científica de modo transversal en todas las asignaturas.
			
			<br>
			
			p(class="sub_title") Perfil del ingresante a la maestría
			ul
				li Haber obtenido el grado académico de Bachiller.
				li Poseer un adecuado nivel de cultura general.
				li Conocer los principales problemas de la educación universitaria nacional, argumentando de manera crítica y planteando alternativas de mejora.
				li Haber obtenido una vacante en el proceso de admisión al programa.

			<br>

			p(class="sub_title") Perfil del graduado
			p El Maestro en Educación, con mención en Docencia e Investigación Universitaria posee las siguientes competencias:
			ul
				li Utiliza los enfoques teóricos y las aplicaciones prácticas de la psicología del aprendizaje y las neurociencias en el diseño y desarrollo del proceso de enseñanza aprendizaje a nivel universitario.
				li Participa de manera eficaz en procesos de diseño, revisión y modificación del currículo universitario, a nivel de pregrado y posgrado.
				li Participa en la docencia universitaria en programas de pre y posgrado y de educación continua, para lo cual desarrolla creativamente nuevos procedimientos de enseñanza aprendizaje.
				li Selecciona y diseña materiales didácticos que sirvan de soporte al proceso de enseñanza aprendizaje en su especialidad.
				li Selecciona, diseña y aplica los procedimientos e instrumentos de evaluación del aprendizaje adecuados, para valorar el logro de los objetivos de su asignatura y obtener la retroalimentación necesaria para el perfeccionamiento del proceso de aprendizaje.
				li Diseña y ejecuta proyectos de investigación dirigidos al perfeccionamiento del proceso de enseñanza aprendizaje en los que participa.
				li Participa eficientemente en la gestión de áreas, proyectos o programas académicos a su cargo, contribuyendo al perfeccionamiento institucional.

			<br>

			p(class="sub_title") Currículo
			p La maestría se desarrolla con un total de 48 créditos, en dos semestres académicos.

			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;") CR
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="4") I
							td Psicología del Aprendizaje
							td 6
						tr(class="active")
							td Neurociencias y Desarrollo Humano
							td 6
						tr(class="active")
							td Diseño y Evaluación del Currículo Universitario
							td 6
						tr(class="active")
							td Metodología de la Investigación
							td 6

						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="4") II
							td Didáctica Universitaria
							td 6
						tr(class="active")
							td Gestión y Acreditación Universitaria
							td 6
						tr(class="active")
							td Evaluación del Aprendizaje
							td 6
						tr(class="active")
							td Seminario de Investigación
							td 6
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , colspan="2") <b>TOTAL</b>
							td(style="font-weight: bold; background-color: #E1E0E0;") <b>48</b>
			<br>

			
			p(class="sub_title") Grado académico
			p Para obtener el grado de Maestro se requiere:
			ul
				li Haber obtenido el grado de Bachiller.
				li La elaboración de una tesis u trabajo de investigación en la especialidad respectiva.
				li Haber aprobado los estudios de una duración mínima de dos semestres académicos con un contenido mínimo de 48 créditos.
				li Dominio de un idioma extranjero o lengua nativa.