extends ../layouts/layout
block content
	section(id="container_educacion" , class="container-fluid template_content")
		div(class="row")

			h3 CAPACITACIÓN

			<br>

			table(class="table table-hover table-bordered")
				tbody

					tr(class="active")
						td: a(href="{{ ruta_base }}pdfs/seminarios/ciclo_de_capacitacion_en_docencia_universitaria.pdf" , target="_blank") Ciclo de Capacitación en Docencia Universitaria

			<br>

			h3 DIPLOMADOS EN EDUCACIÓN
			p A continuación podrá encontrar los diplomados en Educación que el Instituto para la Calidad de la Educación ofrece.

			<br>

			table(class="table table-hover table-bordered")
				tbody

					tr(class="active")
						td: a(href="{{ ruta_base }}pdfs/diplomados/educacion/Diplomado_Docencia_Universitaria.pdf" target="_blank") Diplomado Docencia Universitaria

					tr(class="active")
						td: a(href="{{ ruta_base }}pdfs/diplomados/educacion/Diplomado_de_Posgrado_Didactica_de_la_Matematica_en_educacion_Secundaria.pdf" target="_blank") Diplomado de Posgrado Didactica de la Matemática en Educación Secundaria

					tr(class="active")
						td: a(href="{{ ruta_base }}pdfs/diplomados/educacion/Diplomado_Gestion_de_la_Calidad.pdf" target="_blank") Diplomado Gestión de la Calidad

					tr(class="active")
						td: a(href="{{ ruta_base }}pdfs/diplomados/educacion/Diplomado_de_Estimulacion_Temprana_y_Psicomotricidad.pdf" target="_blank") Diplomado de Estimulación Temprana y Psicomotricidad

					tr(class="active")
						td: a(href="{{ ruta_base }}pdfs/diplomados/educacion/Diplomado_Metodologia_de_la_Ensenanza_del_Ingles.pdf" target="_blank") Diplomado Metodología de la Enseñanza del Inglés