extends ../layouts/layout
block content
	section(id="container_direccion" , class="container-fluid")
		div(class="row")
			h3 DIRECCIÓN DEL INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN
			p La Dirección del Instituto para la Calidad de la Educación es el máximo órgano de gobierno del Instituto. Como tal, tiene competencia formativa, supervisa y toma decisiones en los asuntos trascendentes del Instituto.

			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/florentino_mayuri.jpg", alt="")
		div(class="row autoridad")
			b DR. FLORENTINO NORBERTO MAYURÍ MOLINA
			<br>
			span Director del Instituto para la Calidad de la Educación

		div(class="row contacto")
			b Teléfono:
			span 362-0064 (anexo 3163)
			
		div(class="row contacto")
			b Correo electrónico:
			a(href="mailto:fmayurim@usmp.pe") fmayurim@usmp.pe