extends ../layouts/layout
block content
	section(id="container_animacion" , class="container-fluid template_content")
		div(class="row")
			h3 DIPLOMADO DE ESPECIALIZACIÓN DE POSTGRADO EN ANIMACIÓN MULTIMEDIA COMO RECURSO DIDÁCTICO EN LA ENSEÑANZA APRENDIZAJE

			div(class="col-xs-12")
				div(id="construccion")
					img(src="{{ ruta_base }}assets/img/en_construccion.png", alt="En Construccion" , class="img-responsive" style="margin-top: 50px;")
		//
			p Un alto porcentaje de docente de aula se ven limitados cuando se trata de diseñar, elaborar y trabajar con sus alumnos sus respectivos  materiales educativos, hecho que es explicable por diversas razones; una de ellas por el proceso que implica demostrar no sólo el armado y desarmado  del material, sino por las limitaciones en la búsqueda y disposición de ciertos materiales que se requieren en la enseñanza – aprendizaje de la Química, Ciencias Histórico Sociales, etc., en donde es preciso emplear  ciertos  elementos  químicos que son peligrosos. O en  el caso de enseñar y aprender hechos históricos que necesitan de objetos que ya no existen o resulta imposible disponer por su lejana ubicación, tamaño, etc.

			p Sensible a esta realidad el Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres ha programado el diplomado de especialización de postgrado: ANIMACIÓN MULTIMEDIA COMO RECURSO DIDÁCTICO EN LA ENSEÑANZA APRENDIZAJE, con el fin de utilizar animaciones educativas para representar un material educativo facilitando a los docentes acercar a sus alumnos la realidad obviando gastos adicionales e inversión de tiempo de confección del  material físico por parte del docente o la institución.

			<br>

			p(class="sub_title") Objetivo
			p Diseñar, elaborar y utilizar material educativo con animación multimedia y, a partir de ello programar sesiones vivenciales de aprendizaje, aplicando estrategias didácticas que promuevan en el educando su capacidad de aprender a aprender.

			<br>
			
			p(class="sub_title") Competencias
			ul
				li Maneja y valora la técnica para seleccionar herramientas de dibujo e ilustración digital y, luego la aplica para crear material educativo según el contenido curricular.
				li Maneja y valora la técnica para seleccionar imágenes e insertar efectos visuales según los requerimientos del diseño del material digital educativo.
				li Maneja y valora la técnica para ejecutar animación multimedia en recursos educativos y manipula el software con criterio artístico, considerando el nivel educativo de sus educandos.
				li Identifica materiales educativos de acuerdo a la naturaleza de su asignatura y los diseña empleando dibujos e ilustraciones digitales y, a partir de ello programa sesiones de aprendizaje para sus educandos.

			<br>

			p(class="sub_title") Contenido curricular

			<br>

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULO
							td(style="font-weight: bold; background-color: #E1E0E0;") CONTENIDO CURRICULAR
						tr(class="active")
							td I
							td Dibujo e ilustración Vectorial de objetos y escenarios.
						tr(class="active")
							td II
							td Tratamiento de Imágenes e inserción de efectos visuales.
						tr(class="active")
							td III
							td Animación multimedia en objetos educativos.
						tr(class="active")
							td IV
							td Diseña actividades instructivas con material multimedia.

			<br>

			p(class="sub_title") Certificación
			p El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, expedirá el <b>DIPLOMA DE ESPECIALIZACIÓN DE POSTGRADO EN ANIMACIÓN MULTIMEDIA COMO RECURSO DIDÁCTICO</b> EN LA ENSEÑANZA APRENDIZAJE, a nombre de la Universidad de San Martín de Porres a los participantes que hayan cumplido con la exposición y entrega de los informes asignados.

			<br>

			p(class="sub_title") Lugar
			ul
				li Para informes e inscripciones, los interesados deberán acercarse a las oficinas del Instituto para la Calidad de la Educación, sito en Jr. Las Calandrias 151-291. Ciudad Universitaria de la Universisad de San Martín de Porres - Santa Anita.
				li El diplomado se realizará en el local de la Universidad de San Martín de Porres, sito en Av. Brasil 1857. Jesús María.

			<br>

			p(class="sub_title") Fecha de inicio, horario y duración
			p El Diplomado está programado para inicio el 16 de agosto de 2015, en caso se confirme el mínimo de 20 inscripciones. Caso contrario, será aplazado a razón de una semana. Se dictará los días domingo, en el horario de 09:00 am a 04:00 pm y tendrá una duración de 16 semanas.
			
			<br>

			p(class="sub_title") Requisitos documentarios
			ul
				li Copia simple de Grado Académico de Bachiller y/o Título Profesional Universitario.
				li Copia simple de DNI.
				li Currículum vitae descriptivo.
	//
		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/diplomados/educacion/diplomado_multimedia.docx" , download="Diplomado Multimedia") Inscripción al Diplomado