extends ../layouts/layout
block content
	section(id="container_doctorado" , class="container-fluid template_content")
		div(class="row")
			h3 DOCTORADO EN EDUCACIÓN
			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")

			p Son estudios de carácter académico basados en la investigación. Tiene por propósito desarrollar el conocimiento al más alto nivel.
			
			<br>

			p(class="sub_title") Objetivos Formativos

			p(class="sub_title") Formación humana:
			ul
				li Promover el trabajo cooperativo en equipo y multidisciplinario.
				li Desarrollar compromiso ético.
				li Desarrollar habilidades comunicacionales.
				li Propiciar una actitud propositiva.

			p(class="sub_title" , style="margin-top: 10px;") Formación social:
			ul
				li Desarrollar una actitud crítica frente a los problemas de la educación.
				li Reconocer la diversidad y la multiculturalidad en la población.
				li Proponer soluciones a problemas de la educación y el contexto.
				li Innovar y emprender proyectos para la comunidad.

			p(class="sub_title" , style="margin-top: 10px;") Formación profesional:
			ul
				li Desarrollar capacidades investigativas.
				li Desarrollar habilidades de gestión.
				li Promover la especialización en educación.
				li Desarrollar el pensamiento complejo.
				li Promover el uso de herramientas informáticas.

			p(class="sub_title" , style="margin-top: 30px;") Perfil del ingresante al doctorado

			//p(style="font-weight: bold; font-size: 1.4rem;") Identidad y compromiso
			ul
				li Haber obtenido el grado de maestro.
				li Poseer un elevado nivel de cultura general.
				li Conocer los principales problemas de la educación nacional, argumentando sobre ellos de manera crítica y planteando alternativas de mejora.
				li Haber obtenido una vacante en el proceso de admisión al programa.
			
			<br>

			p(class="sub_title") Perfil del graduado
			p El doctor en educación, graduado de la Universidad de San Martín de Porres posee las siguientes competencias:
			ul
				li Dirige grupos multidisciplinarios de investigación e innovación educativa y participa en las mismas, utilizando los conocimientos y competencias propios de la Ciencias de la Educación, la Metodología de la Investigación y las disciplinas afines.
				li Participa en la docencia en todos los niveles del sistema educativo, en particular en programas de posgrado y de educación continua, para lo cual desarrolla nuevos procedimientos de enseñanza aprendizaje adecuados a ese nivel de enseñanza.
				li Selecciona diseña y aplica los procedimientos e instrumentos de evaluación del aprendizaje que sean adecuados para valorar el logro de los objetivos de su asignatura y obtener la retroalimentación necesaria para el perfeccionamiento del proceso de enseñanza - aprendizaje.
				li Dirige equipos y participa en procesos de diseño, revisión y modificación del currículo de diferentes niveles y programas educativos.
				li Participa en la formulación, ejecución, evaluación y control de políticas y proyectos de desarrollo educativo.
				li Gestiona instituciones, programas y procesos educativos con un alto nivel de eficiencia y eficacia.
				li Dirige equipos y participa activamente en procesos de acreditación, licenciamiento y gestión de la calidad de instituciones y programas educativos.
				li Interpreta en sentido riguroso la realidad educativa nacional y su proyección histórica en el contexto de sus formaciones socio - económicas, culturales y políticas, poniendo en relieve sus valores propios.
			
			<br>

			p(class="sub_title") Currículo
			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody

						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") SEMESTRE
							td(style="font-weight: bold; background-color: #E1E0E0;") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;") CRÉDITOS
						tr(class="active")
							td I
							td 
								div(class="table_ctn")
									span - Epistemología y Educación
									span - Economía y Educación
									span - Seminario de tesis I
									span <b>Subtotal<b>
							td
								div(class="table_ctn")
									span 3
									span 3
									span 6
									span <b>12</b>
						tr(class="active")
							td II
							td 
								div(class="table_ctn")
									span - Diseño y Evaluación Curricular
									span - Educación y sociedad
									span - Seminario de tesis II
									span <b>Subtotal<b>
							td 
								div(class="table_ctn")
									span 3
									span 3
									span 6
									span <b>12</b>
						tr(class="active")
							td III
							td
								div(class="table_ctn")
									span - Gestión Educativa y Acreditación
									span - Didáctica contemporánea
									span - Seminario de tesis III
									span <b>Subtotal<b>
							td 
								div(class="table_ctn")
									span 3
									span 3
									span 6
									span <b>12</b>
						tr(class="active")
							td IV
							td 
								div(class="table_ctn")
									span - Sistemas educativos comparados
									span - Evaluación Educativa
									span - Seminario de tesis IV
									span <b>Subtotal<b>
							td 
								div(class="table_ctn")
									span 3
									span 3
									span 6
									span <b>12</b>
						tr(class="active")
							td V
							td 
								div(class="table_ctn")
									span - Taller de tesis I
									span - Diseño, aplicación y evaluación de políticas educativas
									span <b>Subtotal<b>
							td 
								div(class="table_ctn")
									span 6
									span 3
									span <b>9</b>
						tr(class="active")
							td VI
							td 
								div(class="table_ctn")
									span - Taller de tesis II
							td 
								div(class="table_ctn")
									span 7
						tr(class="active")
							td(style="font-weight: bold; background-color: #C5C5C5;" , colspan="2") TOTAL DE CRÉDITOS
							td(style="font-weight: bold; background-color: #C5C5C5;") 64
			<br>


			p(class="sub_title") Grado académico
			p Para obtener el grado de doctor se requiere:
			ul
				li Haber obtenido el grado de maestro.
				li Aprobación de los estudios respectivos con una duración mínima de seis semestres académicos, con un contenido mínimo de 64 créditos.
				li Una tesis de máxima rigurosidad académica y de carácter original, así como el dominio de dos idiomas extranjeros, uno de los cuales puede ser sustituida por una lengua nativa.
