extends ../layouts/layout
block content
	section(id="container_pedagogia" , class="container-fluid template_content")
		div(class="row")
			h3 MAESTRÍA EN EDUCACIÓN CON MENCIÓN EN PEDAGOGÍA DE LA MATEMÁTICA

			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")
			p En la actualidad, la sociedad exige el desarrollo de competencias inmersa en el concepto de las mejoras continuas en función de la calidad del desempeño del docente para optimizar el aprendizaje de los estudiantes en el área de las ciencias de las matemáticas, lo que implica el dominio disciplinar y la aplicación de estrategias metodológicas para reforzar las competencias del docente asegurando un adecuado aprendizaje de la matemática.
			p Ante la situación descrita, el instituto para la calidad de la educación presenta este programa académico a los profesionales interesados en obtener el grado académico de Maestro en Educación, con mención en Pedagogía de la Matemática.

			<br>
			
			p(class="sub_title") Perfil del ingresante a la maestría:
			p(style="font-weight: bold; font-size: 1.4rem;") Comprensión y pensamiento complejo
			ul
				li Haber obtenido el grado académico de Bachiller.
				li Poseer un adecuado nivel de cultura general.
				li Conocer los principales problemas de la educación universitaria nacional, argumentando de manera crítica y planteando alternativas de mejora.
				li Haber obtenido una vacante en el proceso de admisión al programa.

			<br>

			p(class="sub_title") Perfil del graduado
			p Las competencias que caracterizan al egresado de la Maestría con mención en Pedagogía de la Matemática son las siguientes:
			ul
				li Utiliza los enfoques teóricos y las aplicaciones prácticas de la psicología del aprendizaje y las neurociencias en el diseño y desarrollo del proceso de enseñanza aprendizaje de la matemática.
				li Participa de manera eficaz en el diseño y evaluación curricular de la Educación Básica y su contextualización en sus diferentes modalidades y niveles, con énfasis en el área de matemática.
				li Realiza investigaciones e innovaciones en el campo de la docencia de la matemática, con el propósito de contribuir a la mejora del proceso de enseñanza - aprendizaje.
				li Planifica, organiza y realiza su actividad docente en el área de Matemática con un alto grado de eficacia y respaldado en un sólido dominio de la teoría y la práctica educativa y de investigación.
				li Diseña y aplica instrumentos de evaluación del aprendizaje pertinente y respaldado en la teoría y práctica contemporánea, en el área de matemática.

			<br>

			p(class="sub_title") Currículo
			p La Maestría se desarrolla con un total de 48 créditos, en dos semestres académicos.

			<br>

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;") CR
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="4") I
							td Psicología del Aprendizaje
							td 6
						tr(class="active")
							td Neurociencias y Desarrollo Humano
							td 6
						tr(class="active")
							td Currículo Escolar y Didáctica de la Matemática
							td 6
						tr(class="active")
							td Metodología de la Investigación
							td 6

						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="4") II
							td Seminario de la enseñanza de Aritmética y Algebra
							td 6
						tr(class="active")
							td Seminario de la enseñanza de Geometría y Trigonometría
							td 6
						tr(class="active")
							td Evaluación del Aprendizaje
							td 6
						tr(class="active")
							td Seminario de Investigación
							td 6
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , colspan="2") <b>TOTAL</b>
							td(style="font-weight: bold; background-color: #E1E0E0;") <b>48</b>

			<br>

			p(class="sub_title") Grado académico
			p Para obtener el grado de Maestro se requiere:
			ul
				li Haber obtenido el grado de Bachiller.
				li La elaboración de una tesis u trabajo de investigación en la especialidad respectiva.
				li Haber aprobado los estudios de una duración mínima de dos semestres académicos con un contenido mínimo de 48 créditos.
				li Dominio de un idioma extranjero o lengua nativa.