extends ../layouts/layout
block content
	section(id="container_acreditaciones" , class="container-fluid")
		div(class="row")
			h3 INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN DE LA UNIVERSIDAD DE SAN MARTÍN DE PORRES

			article
					p Encaminándose hacia el objetivo de acreditación institucional de la Universidad de San Martín de Porres, el Instituto para la Calidad de la Educación obtuve el certificado de Acreditación Internacional por parte de la Axencia para a Calidade do Sistema Universitario de Galicia (ACSUG), en un evento que contó con las asistencia de autoridades, docentes y alumnos de nuestra Casa Superior de Estudio.
					p El evento fue presidido por el Vicerrector de la USMP, Ing. Raúl Bao García, en representación del Rector, Ing. José Antonio Chang Escobedo, y el presidente de ACSUG, Dr. José Eduardo López Pereira, quienes estuvieron acompañados en la mesa de honor por la Decana de la Facultad de Obstetricia y Enfermería, Mag. Hilda Baca Neglia, el Decano de la Facultad de Odontología, Dr. Carlos Cava Vergiu y el Dr. Florentino Mayurí Molina, Director del Instituto para la Calidad de la Educación.

					img(src="{{ ruta_base }}assets/img/img_iced/acreditaciones_1.jpg", alt="")

					p La ceremonia de entrega de los Certificados de Acreditación Internacional, se inició con la entonación de los himnos nacionales de España y Perú. Luego el Dr. José Eduardo López Pereira hizo una breve presentación de las actividades e historia de esta acreditadora ACSUG de Galicia.
					p A continuación, el Dr. López Pereira explicó acerca del proceso de evaluación realizado a las carreras profesionales de Obstetricia, Enfermería, Odontología y al Instituto para la Calidad de la Educación. En ese sentido, el presidente de ACSUG felicitó a la Universidad de San Martín de Porres por los altos estándares de calidad que han impuesto para cumplir con los requisitos para la acreditación y que a mediano plazo estarán en condiciones de tener una acreditación institucional.

					img(src="{{ ruta_base }}assets/img/img_iced/acreditaciones_2.jpg", alt="")

					p “Hemos quedado gratamente impresionados por la calidad demostrada por las carreras profesionales de la Universidad de San Martín de Porres que hoy acreditamos. Mi felicitación por el trabajo que han realizado a lo largo de 50 años y deseo que año a año sigan manteniendo esa alta calidad por la cual han logrado esta acreditación. Debido a este éxito, vamos a firmar un convenio para acreditar a las cinco carreras  que faltan, con lo cual obtendrán una acreditación total e institucional de la Universidad”, expresó el Dr. José Eduardo López Pereira, presidente de ACSUG. Luego, se procedió a la entrega de los Certificados de Acreditación Internacional al Dr. Florentino Mayurí Molina, Director del Instituto para la Calidad de la Educación.

					img(src="{{ ruta_base }}assets/img/img_iced/acreditaciones_3.jpg", alt="")

					p Luego de la entrega de los certificados de Acreditación Internacional, el Vicerrector de la USMP, Ing. Raúl Bao García y el Presidente de ACSUG, Dr. José Eduardo López Pereira, procedieron a la firma de la Adenda del Convenio de Acreditación, la cual permitirá que la acreditadora de Galicia nos Acredite Institucionalmente.
					p El Vicerrector de la USMP, Ing. Raúl Bao García, agradeció ala Acreditadora ACSUG por las altas exigencias que puso como meta a las autoridades de cada Facultad. Además,  felicitó a las autoridades, docentes, trabajadores y alumnos pertenecientes a las carreras acreditadas por el sacrificio y esfuerzos desplegados para obtener esta importante Acreditación Internacional.
					p “En nombre de nuestro Rector, el Ing. José Antonio Chang Escobedo, doy las gracias al Dr. José Eduardo López Pereira, Presidente de ACSUG, por esta acreditación y felicito a cada uno de los integrantes de las carreras acreditadas por habernos permitido este importante resultado académico que certifica la alta calidad de enseñanza en nuestra Universidad. La Acreditación Internacional en la USMP ya se ha convertido en un reto de muchísima importancia en todas nuestras unidades académicas, que son evaluadas por instituciones internacionales de primer nivel para certificar los estándares superiores de enseñanza y mostrar que estamos en el camino correcto”, expresó el Ing. Bao García.
				div(class="row")
					img(src="{{ ruta_base }}assets/img/img_iced/acreditaciones_4.jpg", alt="")
				div(class="row")
					img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/certificado_2011_2.jpg", alt="")
