extends ../layouts/layout
block content
	section(id="container_extension" , class="container-fluid")
		div(class="row")
			h3 OFICINA DE EXTENSIÓN Y PROYECCIÓN UNIVERSITARIA
			p La Oficina de Extensión y Proyección Universitaria promueve la extensión universitaria a través de la programación, ejecución y evaluación de diferentes   cursos, foros, talleres, diplomados, conferencias y seminarios orientados a la mejora de la calidad educativa. Formula programas de formación continua dirigido  no solo a los docentes de la Universidad de San Martín de Porres, sino a los docentes de Educación Inicial, Primaria, Secundaria y Superior, y demás profesionales procedentes del ámbito local, regional y nacional. También propone la suscripción de acuerdos o convenios nacionales e internacionales que permitan la realización de diversos eventos académicos de actualidad científica, pedagógica y tecnológica y la concreción de acciones sostenibles de servicio educativo, social y cultural en beneficio de la comunidad.
			p(style="font-weight: bold;") Actividades y publicaciones
			ul(class="row")
				li Diplomados en educación
				li Curso: "Estrategias Didácticas e Instrumentos de Evaluación del Aprendizaje"
				li Bolsa de trabajo
				li Seminario internacional
				li Boletines informativos
				li Asociación de graduados
				li Círculo de egresados
				li Programa de tratamiento de igualdad de hombres y mujeres
				li Programa de mejoramiento de la eficiencia energética y el tratamiento de residuos
				li Comunicados
			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/vicente_sativaniez.jpg", alt="")
		div(class="row autoridad")
			b Dr. VICENTE JUSTO PASTOR SANTIVAÑEZ LIMAS
			<br>
			span Jefe de la Oficina de extensión y Proyección Universitaria del Instituto para la Calidad de la Educación

		div(class="row contacto")
			b Teléfono:
			span 478-1751, 362-0064 (anexo 3164)

		div(class="row contacto" , style="margin-bottom: 40px;")
			b Correo electrónico:
			a(href="mailto:vslimas24@hotmail.com") vslimas24@hotmail.com