extends ../layouts/layout
block content
	section(id="container_coneau" , class="container-fluid template_content")
		div(class="row")
			h3 DIPLOMADO DE ESPECIALIZACIÓN DE POSTGRADO EN PROCESOS DE AUTOEVALUACIÓN Y ACREDITACIÓN DE LA CALIDAD EN INSTITUCIONES UNIVERSITARIAS SEGÚN LOS CRITERIOS, INDICADORES Y ESTÁNDARES DEL CONEAU
			div(class="col-xs-12")
				div(id="construccion")
					img(src="{{ ruta_base }}assets/img/en_construccion.png", alt="En Construccion" , class="img-responsive" style="margin-top: 50px;")
		//
			p El creciente interés que muestran las instituciones educativas tanto públicas como privadas  de  nuestro país por involucrarse en acciones de mejora de calidad respecto  a los servicios educativos que brindan, conlleva a la necesidad de contar con recursos humanos capacitados, responsables de liderar, impulsar, implementar y hacer sostenibles los procesos de  autoevaluación, orientados a la acreditación y certificación.

			p Con la finalidad de desarrollar capacidades técnicas y  normativas que los procesos de autoevaluación y acreditación demandan, el Instituto para la Calidad de la Universidad de San Martín de Porres, ofrece el Diplomado de Especializacióna nivel de Postgrado, denominado PROCESOS DE AUTOEVALUACIÓN Y ACREDITACIÓN DE LA CALIDAD EN INSTITUCIONES UNIVERSITARIAS SEGÚN LOS CRITERIOS, INDICADORES Y ESTÁNDARES DEL CONEAU, dirigido a directivos, docentes, administrativos, promotores,  de  Instituciones de Educación Básica, Técnico-productivo, Institutos y Escuelas de Educación Superior y de Universidades.

			<br>

			p(class="sub_title") Objetivo
			p Desarrollar las capacidades  necesarias para diseñar, impulsar, implementar  y hacer sostenibles los  procesos de  mejoramiento de la calidad educativa, sustentado en la  autoevaluación con fines de  acreditación, comprendidos en el marco propuesto por el CONEAU y CONEACES.

			<br>

			p(class="sub_title") Competencias
			ul
				li Conoce los principales enfoques y modelos orientados a la acreditación de la calidad educativa en el contexto nacional e internacional.
				li Diseña e implementa sistemas de autoevaluación de la calidad educativa con fines de acreditación, de acuerdo a las pautas emanadas del SINEACE y a partir de ello diseña planes de mejora orientados a la acreditación.
				li Aplica procedimientos de evaluación externa con fines de acreditación.
				li Desarrolla sistemas de gestión de la calidad orientados a la mejora continua.

			<br>

			p(class="sub_title") Contenido curricular

			<br>

			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;") MÓDULO
							td(style="font-weight: bold; background-color: #E1E0E0;") CONTENIDO CURRICULAR
						tr(class="active")
							td I
							td Fundamentos de la Calidad
						tr(class="active")
							td II
							td Calidad de la Educación
						tr(class="active")
							td III
							td El Proceso de Autoevaluación
						tr(class="active")
							td IV
							td Planes de Mejora

			<br>

			p(class="sub_title") Certificación
			p El Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, expedirá el DIPLOMA DE ESPECIALIZACIÓN DE POSTGRADO PROCESOS DE AUTOEVALUACIÓN Y ACREDITACIÓN DE LA CALIDAD EN INSTITUCIONES UNIVERSITARIAS SEGÚN LOS CRITERIOS, INDICADORES Y ESTÁNDARES DEL CONEAU a nombre de la Universidad de San Martín de Porres a  los participantes que hayan cumplido con entregar los productos asignados para cada módulo.

			<br>

			p(class="sub_title") Lugar
			ul
				li Para informes e inscripciones, los interesados deberán acercarse a las oficinas del Instituto para la Calidad de la Educación, sito en Jr. Las Calandrias 151-291. Ciudad Universitaria de la Universisad de San Martín de Porres - Santa Anita.
				li El diplomado se realizará en el local de la Universidad de San Martín de Porres, sito en Av. Brasil 1857. Jesús María.

			<br>

			p(class="sub_title") Fecha de inicio, horario y duración
			p El Diplomado está programado para inicio el 16 de agosto de 2015, en caso se confirme el mínimo de 20 inscripciones. Caso contrario, será aplazado a razón de una semana. Se dictará los días domingo, en el horario de 09:00 am a 04:00 pm y tendrá una duración de 16 semanas.

			<br>

			p(class="sub_title") Requisitos documentarios
			ul
				li Copia simple de Grado Académico de Bachiller y/o Título Profesional Universitario.
				li Copia simple de DNI.
				li Currículum vitae descriptivo.
	//
		div(class="row")
			div(class="enlace_container")
				div(class="enlace")
					a(href="{{ ruta_base }}pdfs/diplomados/educacion/diplomado_acreditacion_coneau.docx" , download="Diplomado Acreditacion CONEAU") Inscripción al Diplomado