extends ../layouts/layout
block content
	section(id="container_cied" , class="container-fluid")
		div(class="row")
			h3 CENTRO DE INVESTIGACIÓN EDUCATIVA
			p El Centro de Investigación Educativa del Instituto para la Calidad de la Educación tiene las siguientes funciones:
			ul(class="row")
				li Coordina y orienta el desarrollo de las líneas de investigación en las graduaciones de postgrado (maestría y doctorado).
				li Desarrolla diplomados de investigación educativa a nivel de postgrado, tales como:
				li Estadística Aplicada a la Investigación Científica
				ul(type="circle" , style="margin: 10px 0px 10px 30px;")
					li Asesoría de Tesis
					li Investigación Cualitativa
					li Docencia de la Investigación Científica
					li Investigación Acción para la Innovación Educativa
				li Desarrolla seminario y talleres relacionados con la investigación educativa.
				li Forma cuadros de investigaciones educativas, así como asesores y revisores de tesis.
				li Se encuentra en proceso de la republicación de la Revista Encuentro Educativo, para su correspondiente indización.
			img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/oscar_silva.jpg", alt="")
		div(class="row autoridad")
			b Oscar Rubén Silva Neyra
			<br>
			span Coordinador del Centro de Investigación Educativa

		div(class="row contacto")
			b Correo electrónico:
			a(href="mailto:osilva@usmp.pe") osilva@usmp.pe