extends ../layouts/layout
block content
	section(id="container_docencia" , class="container-fluid template_content")
		div(class="row")
			h3 MAESTRÍA EN EDUCACIÓN CON MENCIÓN EN DOCENCIA E INVESTIGACIÓN UNIVERSITARIA
			h2 Modalidad Presencial
			a(href="{{ ruta_base }}formularios/inscripcion_2016.html" , target="_blank")
				img(class="img-responsive" , src="{{ ruta_base }}assets/img/img_iced/inscripcion.png", alt="")
			p El Instituto para la Calidad de la Educación ofrece el presente programa a los profesionales interesados en obtener el Grado Académico de Maestro en Educación con mención en Docencia e Investigación Universitaria.
			
			<br>
			
			p(class="sub_title") Perfil del ingresante
			p(style="font-weight: bold; font-size: 1.4rem;") Comprensión y pensamiento complejo
			ul
				li Interpreta textos lingüísticos y no lingüísticos, aplicando códigos de interpretación.
				li Demuestra actitud abierta y flexible frente a diversas situaciones problemáticas de su ámbito social y profesional
				li Posee conocimiento que le permita aprehender las relaciones mutuas y las influencias recíprocas entre las partes y el todo en un mundo complejo.

			p(style="font-weight: bold; font-size: 1.4rem;") Juicio crítico para resolver problemas
			ul
				li Analiza e interpreta hechos y/o situaciones argumentando las causas y consecuencias de las mismas.
				li Demuestra actitud científica en la solución de problemas propios de su quehacer laboral.
				li Aplica diversas alternativas para solucionar problemas sociales, culturales, científicos y tecnológicos, relacionados a su entorno social y laboral.
				li Asume la necesidad de actualizarse disciplinariamente para estar capacitado en afrontar riesgos permanentes de error.

			p(style="font-weight: bold; font-size: 1.4rem;") Emplea  las TIC
			ul
				li Reconoce la importancia de las TIC y las aplica para optimizar sus actividades académicas y de investigación.

			p(style="font-weight: bold; font-size: 1.4rem;") Identidad y compromiso
			ul
				li Asume una actitud positiva de protección del ambiente, economía e interculturalidad de su realidad.
			
			<br>

			p(class="sub_title") Perfil del egresado
			ul
				li Utiliza los enfoques teóricos y las aplicaciones prácticas de la Psicología del Aprendizaje y las Neurociencias en el diseño y desarrollo del proceso de enseñanza – aprendizaje a nivel universitario.  
				li Participa de manera eficaz en el diseño, implementación y evaluación del currículo y los sílabos de diferentes carreras universitarios. 
				li Realiza investigaciones en el campo de la docencia y la investigación universitaria, con el propósito de contribuir a la mejora de los procesos académicos y de gestión de los programas y la institución.  
				li Planifica, organiza y realiza su actividad docente con un alto grado de eficacia y respaldado en un sólido dominio de la teoría y la práctica educativa y de investigación.
				li Diseña y aplica instrumentos de evaluación del aprendizaje pertinentes y respaldados en la teoría y práctica contemporánea sobre la materia.  
				li Participa en actividades de mejora continua de la calidad de los procesos académicos y administrativos de la Universidad, así como en los procesos autoevaluativos conducentes a la acreditación.

			<br>

			p(class="sub_title") Régimen de estudios
			p Las clases se dictan los días sábado, dentro del horario de 08:00 am a 08:45 pm. La maestría cumplirá con un total de 48 créditos, en dos semestres académicos.

			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CRÉDITOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , colspan="3") HORAS SEMANALES
						tr(class="active")
							td HL
							td HP
							td TH
						tr(class="active")
							td(rowspan="4") I
							td Psicología del Aprendizaje
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Neurociencia y Desarrollo Humano
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Diseño y Evaluación del Currículo Universitario
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Metodología de la Investigación
							td 6
							td 4
							td 4
							td 8

			<br>
			
			div(class="table-responsive")
				table(class="table table-bordered")
					tbody
						tr(class="active")
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CICLOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") ASIGNATURAS
							td(style="font-weight: bold; background-color: #E1E0E0;" , rowspan="2") CRÉDITOS
							td(style="font-weight: bold; background-color: #E1E0E0;" , colspan="3") HORAS SEMANALES
						tr(class="active")
							td HL
							td HP
							td TH
						tr(class="active")
							td(rowspan="4") II
							td Didáctica Universitaria
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Gestión y Acreditación Universitaria
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Evaluación del Aprendizaje
							td 6
							td 4
							td 4
							td 8
						tr(class="active")
							td Seminario de Investigación
							td 6
							td 4
							td 4
							td 8
			
			p(class="sub_title") Grado académico
			p El egresado que cumpla con la sustentación y aprobación de la tesis, así como los trámites administrativos correspondientes, recibirá el Grado Académico de Maestro en Educación con mención en Docencia e Investigación Universitaria. El Grado Académico mencionado se entregará en idioma español.
			
			<br>

			p(class="sub_title") Plazas de ingreso
			p En cada semestre académico se ofertan un máximo de 50 plazas de ingreso.