section {
	width: 100%;
	margin-top: 30px;
	h2 {
		color: $color_link;
	}
	article {
		width: 100%;
		margin-bottom: 20px;
		a:hover {
			color: #808080;
			transition: 0.5s;
		}
		.title {
			text-decoration:none;
			color: $color_link;
		}
		.container_article {
			width: 100%;
			margin: 20px 0px 20px 0px;
			img {
				width: 170px;
				margin-right: 20px;
			}
			h4 {
				margin: 0px 0px 5px 0px;
			}
			p {
				text-align: justify;
			}
			.sub_title {
				color: $color_sub_title;
				font-weight: bold;
				font-size: 1.5rem;
			}
			ol {
				margin-left: 30px;
			}
		}
	}
}

.divisor {
	width: 100%;
	height: 1px;
	background-color: rgba(175, 175, 175 , 0.9);
	margin: 15px 0px 15px 0px;
}

@media (max-width: 550px) {
	.container_article {
		@include flex(column , null , null);
		.text {
			margin-top: 15px;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 551px) {
	.container_article {
		@include flex(row , null , null);
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	h1 {
		font-size: 2.5rem;
	}
	article {
		.title {
			font-size: 2rem;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
	h1 {
		font-size: 3rem;
	}
	article {
		.title {
			font-size: 2.5rem;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
	h1 {
		font-size: 3.5rem;
	}
	article {
		.title {
			font-size: 3rem;
		}
	}
}