extends ../layouts/layout

block content
	section(class="col-md-12")
		div(class="row")
			article
				a(class="title") SEMINARIO INTERNACIONAL: “FORMACIÓN DE ESPECIALISTAS EN AUTOEVALUACIÓN Y ACREDITACIÓN UNIVERSITARIA” PARA DOCENTES, EGRESADOS Y GRADUADOS DEL ICED

				div(class="container_article")

					div(class="text")

						p Con la finalidad de capacitar a docentes, egresados  y graduados del Instituto para la Calidad de la Educación de la Universidad de San Martín de Porres, en aspectos relacionados con metodologías de autoevaluación y acreditación universitaria superior, viajarán a la ciudad de Santiago de Compostelo – España, 15 seminaristas, con la finalidad de participar en el SEMINARIO INTERNACIONAL: “FORMACIÓN DE ESPECIALISTAS EN AUTOEVALUACIÓN Y ACREDITACIÓN UNIVERSITARIA”. 

						<br>

						p Este evento fue programado coordinadamente entre la Axencia para a Calidad do Sistema Universitario de Galicia – ACSUG de España con la Oficina de Extensión y Proyección Universitaria del ICED y, se realizará en la ciudad de Santiago de Compostelo del 20 al 25 de setiembre del presente año.