extends ../layouts/layout

block content
	section(class="col-md-12")
		div(class="row")
			article
				a(class="title") Circulo de Egresados y Graduados del ICED Renovarán sus Juntas Directivas

				div(class="container_article")

					div(class="text")
						p El sábado 22 de octubre del presente año, la Asociación de Graduados del Instituto para la Calidad de la Educación renovará su Junta Directiva  para el período de 2016 – 2018.
						
						<br>

						p El “Círculo de Egresados” lo hará el sábado 29 de octubre de 2016. Ambos procesos electorales  se realizarán en el local del Instituto para la Calidad de la Educación, ubicado en la Ciudad Universitaria de Santa Anita en el horario de 9am a 3pm.