extends ../layouts/layout

block content
	section(class="col-md-12")
		div(class="row")
			article
				a(class="title") PROGRAMA: BOLSA DE TRABAJO A LOS EGRESADOS Y GRADUADOS DEL INSTITUTO PARA LA CALIDAD DE LA EDUCACIÓN

				div(class="container_article")

					div(class="text")

						p El programa: Bolsa de trabajo del ICED, aprobado mediante RD N° 045-2016-D-ICED-USMP, por su peculiar naturaleza, viene realizándose a través de dos modalidades.

						<br>

						p La primera, brinda oportunidades laborales a los egresados-graduados, que luego de someterse a una rigurosa evaluación son designados como docentes del ICED, y la segunda, da la oportunidad de trabajar ofreciéndole diversas alternativas laborales  a nuestros egresados graduados o no graduados a través de la bolsa de trabajo de la Universidad de San Martín de Porres, para lo cual deben cumplir el siguiente proceso:

						ol(type="a")
							li Ingresar a la página principal de la USMP: 
								a(href="http://www.usmp.edu.pe") http://www.usmp.edu.pe
							li Ubicar el botón <b>N° 3 Bolsa de Trabajo</b>.
							li Seleccionar la opción <b>Instituto para la Calidad de la Educación,</b> darle IR y automáticamente se abrirá la página del portal de empleo del instituto.
							li Ubicar el botón <b>INGRESA TU CV,</b> donde se generará un usuario y una contraseña para que pueda postular a las diversas ofertas.
							li En la nueva ventana del ICED encontrará una información detallada de los requerimientos y ofertas laborales.

						<br>

						p Se Invita a nuestros egresados beneficiarse de la bolsa de trabajo por cualquiera de las dos modalidades.